[itemscope][itemtype="http://schema.org/SoftwareSourceCode"] {
  /* Component basic rules */
  border: 1px solid;
  border-radius: 0.5em;
  display: block;
  margin: 1em 0 0 0;
  background-color: var(--css-normal-background);
  border-color: var(--css-normal-border);
  color: var(--css-normal-text);
}

[itemscope][itemtype="http://schema.org/SoftwareSourceCode"] [itemprop="programmingLanguage"] {
  font-weight: bold;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: var(--css-normal-text);
}

[itemscope][itemtype="http://schema.org/SoftwareSourceCode"] > *,
[itemscope][itemtype="http://schema.org/SoftwareSourceCode"] > [itemprop="text"] {
  /* All direct children must de block elements */
  display: block;
  padding: 0.5em;
}

[itemscope][itemtype="http://schema.org/SoftwareSourceCode"] > [itemprop="text"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  counter-reset: code-lines;
  display: table;
  font-family: monospace;
  line-height: 1.25em;
  padding: 0 0.5em;
}

[itemscope][itemtype="http://schema.org/SoftwareSourceCode"] > [itemprop="text"][data-css-group="lines"][role=group] [data-css-primary],
[itemscope][itemtype="http://schema.org/SoftwareSourceCode"] > [itemprop="text"][data-css-group="lines"][role=group] [data-css-accent] {
  color: var(--css-normal-text);
}

[itemscope][itemtype="http://schema.org/SoftwareSourceCode"] > [itemprop="text"][data-css-group="lines"][role=group] > *, [itemscope][itemtype="http://schema.org/SoftwareSourceCode"] > [itemprop="text"][data-css-group="lines"][role=group] > *::before {
  color: var(--css-normal-text);
}

[itemscope][itemtype="http://schema.org/SoftwareSourceCode"] > [itemprop="text"][data-css-group="lines"][role=group] > *::before {
  content: counters(code-lines, ".", decimal-leading-zero);
  counter-increment: code-lines;
  display: table-cell;
  height: 100%;
  padding-right: 1em;
}

[itemscope][itemtype="http://schema.org/SoftwareSourceCode"] > [itemprop="text"][data-css-group="lines"][role=group] > *:first-child::before {
  padding-top: 0.5em;
}

[itemscope][itemtype="http://schema.org/SoftwareSourceCode"] > [itemprop="text"][data-css-group="lines"][role=group] > :last-child {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

[itemscope][itemtype="http://schema.org/SoftwareSourceCode"] > [itemprop="text"][data-css-group="lines"][role=group] > :last-child::before {
  padding-bottom: 0.5em;
}

[itemscope][itemtype="http://schema.org/SoftwareSourceCode"] > [itemprop="text"][data-css-group="lines"][role=group] > :last-child::after {
  content: ' ';
  display: block;
  line-height: 0.5em;
  width: 100%;
}

[itemscope][itemtype="http://schema.org/SoftwareSourceCode"] > [itemprop="text"] > * {
  display: table-row;
  width: 100%;
}

[itemscope][itemtype="http://schema.org/SoftwareSourceCode"] > [itemprop="text"] > * em,
[itemscope][itemtype="http://schema.org/SoftwareSourceCode"] > [itemprop="text"] > * strong,
[itemscope][itemtype="http://schema.org/SoftwareSourceCode"] > [itemprop="text"] > * var {
  font-size: 1.125em;
}

[itemscope][itemtype="http://schema.org/SoftwareSourceCode"] > [itemprop="text"] [data-css-tabs] {
  text-indent: attr(data-css-tabs em, 0);
}

[itemscope][itemtype="http://schema.org/SoftwareSourceCode"]:not([data-css-accent]), [itemscope][itemtype="http://schema.org/SoftwareSourceCode"][data-css-primary],
[itemscope][itemtype="http://schema.org/SoftwareSourceCode"] :not([data-css-accent]),
[itemscope][itemtype="http://schema.org/SoftwareSourceCode"] [data-css-primary] {
  --css-normal-background: var(--css-primary-900);
  --css-normal-border: var(--css-primary-700);
  --css-normal-text: var(--css-primary-100);
}

[itemscope][itemtype="http://schema.org/SoftwareSourceCode"]:not([data-css-accent]) > [itemprop="text"][data-css-group="lines"][role=group] > *::before, [itemscope][itemtype="http://schema.org/SoftwareSourceCode"][data-css-primary] > [itemprop="text"][data-css-group="lines"][role=group] > *::before,
[itemscope][itemtype="http://schema.org/SoftwareSourceCode"] :not([data-css-accent]) > [itemprop="text"][data-css-group="lines"][role=group] > *::before,
[itemscope][itemtype="http://schema.org/SoftwareSourceCode"] [data-css-primary] > [itemprop="text"][data-css-group="lines"][role=group] > *::before {
  --css-normal-text: var(--css-primary-500);
}

[itemscope][itemtype="http://schema.org/SoftwareSourceCode"] > [itemprop="text"][data-css-group="lines"][role=group] [data-css-primary],
[itemscope][itemtype="http://schema.org/SoftwareSourceCode"] [itemprop="programmingLanguage"][data-css-primary] {
  --css-normal-text: var(--css-primary-100);
}

[itemscope][itemtype="http://schema.org/SoftwareSourceCode"][data-css-accent],
[data-css-accent] [itemscope][itemtype="http://schema.org/SoftwareSourceCode"],
[itemscope][itemtype="http://schema.org/SoftwareSourceCode"][data-css-accent] :not([data-css-primary]),
[data-css-accent] [itemscope][itemtype="http://schema.org/SoftwareSourceCode"] :not([data-css-primary]) {
  --css-normal-background: var(--css-accent-900);
  --css-normal-border: var(--css-accent-700);
  --css-normal-text: var(--css-accent-100);
}

[itemscope][itemtype="http://schema.org/SoftwareSourceCode"][data-css-accent] > [itemprop="text"][data-css-group="lines"][role=group] > *::before,
[data-css-accent] [itemscope][itemtype="http://schema.org/SoftwareSourceCode"] > [itemprop="text"][data-css-group="lines"][role=group] > *::before,
[itemscope][itemtype="http://schema.org/SoftwareSourceCode"][data-css-accent] :not([data-css-primary]) > [itemprop="text"][data-css-group="lines"][role=group] > *::before,
[data-css-accent] [itemscope][itemtype="http://schema.org/SoftwareSourceCode"] :not([data-css-primary]) > [itemprop="text"][data-css-group="lines"][role=group] > *::before {
  --css-normal-text: var(--css-accent-500);
}

[itemscope][itemtype="http://schema.org/SoftwareSourceCode"] > [itemprop="text"][data-css-group="lines"][role=group] [data-css-accent],
[itemscope][itemtype="http://schema.org/SoftwareSourceCode"] [itemprop="programmingLanguage"][data-css-accent] {
  --css-normal-text: var(--css-accent-100);
}

details[itemscope][itemtype="http://schema.org/SoftwareSourceCode"] > summary:first-child {
  border-radius: 0.5em;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  background-color: var(--css-normal-background);
}

details[itemscope][itemtype="http://schema.org/SoftwareSourceCode"] > summary:first-child:hover,
details[itemscope][itemtype="http://schema.org/SoftwareSourceCode"][open] > summary:first-child {
  background-color: var(--css-selected-background);
  color: var(--css-selected-text);
}

details[itemscope][itemtype="http://schema.org/SoftwareSourceCode"][open] > summary:first-child {
  border-bottom: 1px solid;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: var(--css-selected-border);
}

details[itemscope][itemtype="http://schema.org/SoftwareSourceCode"] > summary:first-child:active,
details[itemscope][itemtype="http://schema.org/SoftwareSourceCode"] > summary:first-child:focus,
details[itemscope][itemtype="http://schema.org/SoftwareSourceCode"][open] > summary:first-child {
  outline: none;
}

details[itemscope][itemtype="http://schema.org/SoftwareSourceCode"]:not([data-css-accent]) > summary:first-child, details[itemscope][itemtype="http://schema.org/SoftwareSourceCode"][data-css-primary] > summary:first-child,
[data-css-primary] details[itemscope][itemtype="http://schema.org/SoftwareSourceCode"]:not([data-css-accent]) > summary:first-child {
  --css-normal-background: var(--css-primary-900);
  --css-selected-background: var(--css-primary-700);
  --css-selected-text: var(--css-primary-50);
  --css-selected-border: var(--css-primary-700);
}

details[itemscope][itemtype="http://schema.org/SoftwareSourceCode"][data-css-accent] > summary:first-child,
[data-css-accent] details[itemscope][itemtype="http://schema.org/SoftwareSourceCode"]:not([data-css-primary]) > summary:first-child {
  --css-normal-background: var(--css-accent-900);
  --css-selected-background: var(--css-accent-700);
  --css-selected-text: var(--css-accent-50);
  --css-selected-border: var(--css-accent-700);
}
/*# sourceMappingURL=codes.css.map */