/* Color properties */
:root {
  /* black and white universal properties */
  --css-black: #000;
  --css-white: #FFF;
  /* default palette (Grey) */
  --css-primary-50: #FAFAFA;
  --css-primary-100: #F5F5F5;
  --css-primary-200: #EEEEEE;
  --css-primary-300: #E0E0E0;
  --css-primary-400: #BDBDBD;
  --css-primary-500: #9E9E9E;
  --css-primary-600: #757575;
  --css-primary-700: #616161;
  --css-primary-800: #424242;
  --css-primary-900: #212121;
}

body:not(data-css-theme),
body[data-css-theme="light"] {
  background: var(--css-primary-50);
  color: var(--css-primary-800);
}

body:not(data-css-theme) *[data-css-accent],
body:not(data-css-theme) * [data-css-accent],
body:not(data-css-theme) [data-css-accent] *:not([data-css-primary]),
body[data-css-theme="light"] *[data-css-accent],
body[data-css-theme="light"] * [data-css-accent],
body[data-css-theme="light"] [data-css-accent] *:not([data-css-primary]) {
  --css-normal-background: var(--css-accent-100);
  --css-normal-border: var(--css-accent-500);
  --css-normal-text: var(--css-accent-800);
  --css-selected-background: var(--css-accent-300);
  --css-selected-border: var(--css-accent-700);
  --css-selected-text: var(--css-accent-900);
  --css-pressed-background: var(--css-accent-400);
  --css-pressed-border: var(--css-accent-900);
  --css-pressed-text: var(--css-accent-900);
  --css-disabled-background: var(--css-accent-50);
  --css-disabled-border: var(--css-accent-300);
  --css-disabled-text: var(--css-accent-700);
}

body:not(data-css-theme) *[data-css-accent][data-css-type="info"],
body:not(data-css-theme) * [data-css-accent][data-css-type="info"],
body:not(data-css-theme) [data-css-accent] *:not([data-css-primary])[data-css-type="info"],
body[data-css-theme="light"] *[data-css-accent][data-css-type="info"],
body[data-css-theme="light"] * [data-css-accent][data-css-type="info"],
body[data-css-theme="light"] [data-css-accent] *:not([data-css-primary])[data-css-type="info"] {
  --css-normal-background: var(--css-white);
  --css-normal-border: var(--css-accent-100);
  --css-normal-text: var(--css-accent-800);
  --css-selected-background: var(--css-accent-200);
  --css-selected-border: var(--css-accent-300);
  --css-selected-text: var(--css-accent-900);
  --css-pressed-background: var(--css-accent-300);
  --css-pressed-border: var(--css-accent-700);
  --css-pressed-text: var(--css-accent-900);
}

body:not(data-css-theme) *[data-css-accent][data-css-type="success"],
body:not(data-css-theme) * [data-css-accent][data-css-type="success"],
body:not(data-css-theme) [data-css-accent] *:not([data-css-primary])[data-css-type="success"],
body[data-css-theme="light"] *[data-css-accent][data-css-type="success"],
body[data-css-theme="light"] * [data-css-accent][data-css-type="success"],
body[data-css-theme="light"] [data-css-accent] *:not([data-css-primary])[data-css-type="success"] {
  --css-normal-background: var(--css-accent-200);
  --css-normal-border: var(--css-accent-300);
  --css-normal-text: var(--css-accent-800);
  --css-selected-background: var(--css-accent-500);
  --css-selected-border: var(--css-accent-500);
  --css-selected-text: var(--css-accent-900);
  --css-pressed-background: var(--css-accent-600);
  --css-pressed-border: var(--css-accent-700);
  --css-pressed-text: var(--css-accent-900);
}

body:not(data-css-theme) *[data-css-accent][data-css-type="warning"],
body:not(data-css-theme) * [data-css-accent][data-css-type="warning"],
body:not(data-css-theme) [data-css-accent] *:not([data-css-primary])[data-css-type="warning"],
body[data-css-theme="light"] *[data-css-accent][data-css-type="warning"],
body[data-css-theme="light"] * [data-css-accent][data-css-type="warning"],
body[data-css-theme="light"] [data-css-accent] *:not([data-css-primary])[data-css-type="warning"] {
  --css-normal-background: var(--css-accent-500);
  --css-normal-border: var(--css-accent-600);
  --css-normal-text: var(--css-black);
  --css-selected-background: var(--css-accent-800);
  --css-selected-border: var(--css-accent-800);
  --css-selected-text: var(--css-white);
  --css-pressed-background: var(--css-accent-900);
  --css-pressed-border: var(--css-accent-800);
  --css-pressed-text: var(--css-white);
}

body:not(data-css-theme) *[data-css-accent][data-css-type="error"],
body:not(data-css-theme) * [data-css-accent][data-css-type="error"],
body:not(data-css-theme) [data-css-accent] *:not([data-css-primary])[data-css-type="error"],
body[data-css-theme="light"] *[data-css-accent][data-css-type="error"],
body[data-css-theme="light"] * [data-css-accent][data-css-type="error"],
body[data-css-theme="light"] [data-css-accent] *:not([data-css-primary])[data-css-type="error"] {
  --css-normal-background: var(--css-accent-700);
  --css-normal-border: var(--css-accent-800);
  --css-normal-text: var(--css-white);
  --css-selected-background: var(--css-accent-900);
  --css-selected-border: var(--css-accent-800);
  --css-selected-text: var(--css-white);
  --css-pressed-background: var(--css-accent-800);
  --css-pressed-border: var(--css-accent-600);
  --css-pressed-text: var(--css-white);
}

body:not(data-css-theme) *,
body:not(data-css-theme) * [data-css-primary],
body:not(data-css-theme) *[data-css-primary],
body:not(data-css-theme) [data-css-primary] *:not([data-css-accent]),
body[data-css-theme="light"] *,
body[data-css-theme="light"] * [data-css-primary],
body[data-css-theme="light"] *[data-css-primary],
body[data-css-theme="light"] [data-css-primary] *:not([data-css-accent]) {
  --css-normal-background: var(--css-primary-100);
  --css-normal-border: var(--css-primary-500);
  --css-normal-text: var(--css-primary-800);
  --css-selected-background: var(--css-primary-300);
  --css-selected-border: var(--css-primary-700);
  --css-selected-text: var(--css-primary-900);
  --css-pressed-background: var(--css-primary-400);
  --css-pressed-border: var(--css-primary-900);
  --css-pressed-text: var(--css-primary-900);
  --css-disabled-background: var(--css-primary-50);
  --css-disabled-border: var(--css-primary-300);
  --css-disabled-text: var(--css-primary-700);
}

body:not(data-css-theme) *[data-css-type="info"],
body:not(data-css-theme) * [data-css-primary][data-css-type="info"],
body:not(data-css-theme) *[data-css-primary][data-css-type="info"],
body:not(data-css-theme) [data-css-primary] *:not([data-css-accent])[data-css-type="info"],
body[data-css-theme="light"] *[data-css-type="info"],
body[data-css-theme="light"] * [data-css-primary][data-css-type="info"],
body[data-css-theme="light"] *[data-css-primary][data-css-type="info"],
body[data-css-theme="light"] [data-css-primary] *:not([data-css-accent])[data-css-type="info"] {
  --css-normal-background: var(--css-white);
  --css-normal-border: var(--css-primary-100);
  --css-normal-text: var(--css-primary-800);
  --css-selected-background: var(--css-primary-200);
  --css-selected-border: var(--css-primary-300);
  --css-selected-text: var(--css-primary-900);
  --css-pressed-background: var(--css-primary-300);
  --css-pressed-border: var(--css-primary-700);
  --css-pressed-text: var(--css-primary-900);
}

body:not(data-css-theme) *[data-css-type="success"],
body:not(data-css-theme) * [data-css-primary][data-css-type="success"],
body:not(data-css-theme) *[data-css-primary][data-css-type="success"],
body:not(data-css-theme) [data-css-primary] *:not([data-css-accent])[data-css-type="success"],
body[data-css-theme="light"] *[data-css-type="success"],
body[data-css-theme="light"] * [data-css-primary][data-css-type="success"],
body[data-css-theme="light"] *[data-css-primary][data-css-type="success"],
body[data-css-theme="light"] [data-css-primary] *:not([data-css-accent])[data-css-type="success"] {
  --css-normal-background: var(--css-primary-200);
  --css-normal-border: var(--css-primary-300);
  --css-normal-text: var(--css-primary-800);
  --css-selected-background: var(--css-primary-500);
  --css-selected-border: var(--css-primary-500);
  --css-selected-text: var(--css-primary-900);
  --css-pressed-background: var(--css-primary-600);
  --css-pressed-border: var(--css-primary-700);
  --css-pressed-text: var(--css-primary-900);
}

body:not(data-css-theme) *[data-css-type="warning"],
body:not(data-css-theme) * [data-css-primary][data-css-type="warning"],
body:not(data-css-theme) *[data-css-primary][data-css-type="warning"],
body:not(data-css-theme) [data-css-primary] *:not([data-css-accent])[data-css-type="warning"],
body[data-css-theme="light"] *[data-css-type="warning"],
body[data-css-theme="light"] * [data-css-primary][data-css-type="warning"],
body[data-css-theme="light"] *[data-css-primary][data-css-type="warning"],
body[data-css-theme="light"] [data-css-primary] *:not([data-css-accent])[data-css-type="warning"] {
  --css-normal-background: var(--css-primary-500);
  --css-normal-border: var(--css-primary-600);
  --css-normal-text: var(--css-black);
  --css-selected-background: var(--css-primary-800);
  --css-selected-border: var(--css-primary-800);
  --css-selected-text: var(--css-white);
  --css-pressed-background: var(--css-primary-900);
  --css-pressed-border: var(--css-primary-800);
  --css-pressed-text: var(--css-white);
}

body:not(data-css-theme) *[data-css-type="error"],
body:not(data-css-theme) * [data-css-primary][data-css-type="error"],
body:not(data-css-theme) *[data-css-primary][data-css-type="error"],
body:not(data-css-theme) [data-css-primary] *:not([data-css-accent])[data-css-type="error"],
body[data-css-theme="light"] *[data-css-type="error"],
body[data-css-theme="light"] * [data-css-primary][data-css-type="error"],
body[data-css-theme="light"] *[data-css-primary][data-css-type="error"],
body[data-css-theme="light"] [data-css-primary] *:not([data-css-accent])[data-css-type="error"] {
  --css-normal-background: var(--css-primary-700);
  --css-normal-border: var(--css-primary-800);
  --css-normal-text: var(--css-white);
  --css-selected-background: var(--css-primary-900);
  --css-selected-border: var(--css-primary-800);
  --css-selected-text: var(--css-white);
  --css-pressed-background: var(--css-primary-800);
  --css-pressed-border: var(--css-primary-600);
  --css-pressed-text: var(--css-white);
}

body[data-css-theme="dark"] {
  background: var(--css-primary-900);
  color: var(--css-primary-100);
}

body[data-css-theme="dark"] *[data-css-accent],
body[data-css-theme="dark"] * [data-css-accent],
body[data-css-theme="dark"] [data-css-accent] *:not([data-css-primary]) {
  --css-normal-background: var(--css-accent-800);
  --css-normal-border: var(--css-accent-500);
  --css-normal-text: var(--css-accent-100);
  --css-selected-background: var(--css-accent-600);
  --css-selected-border: var(--css-accent-300);
  --css-selected-text: var(--css-accent-200);
  --css-pressed-background: var(--css-accent-500);
  --css-pressed-border: var(--css-accent-200);
  --css-pressed-text: var(--css-accent-200);
  --css-disabled-background: var(--css-accent-900);
  --css-disabled-border: var(--css-accent-700);
  --css-disabled-text: var(--css-accent-200);
}

body[data-css-theme="dark"] *[data-css-accent][data-css-type="info"],
body[data-css-theme="dark"] * [data-css-accent][data-css-type="info"],
body[data-css-theme="dark"] [data-css-accent] *:not([data-css-primary])[data-css-type="info"] {
  --css-normal-background: var(--css-black);
  --css-normal-border: var(--css-accent-800);
  --css-normal-text: var(--css-accent-100);
  --css-selected-background: var(--css-accent-800);
  --css-selected-border: var(--css-accent-500);
  --css-selected-text: var(--css-accent-50);
  --css-pressed-background: var(--css-accent-700);
  --css-pressed-border: var(--css-accent-400);
  --css-pressed-text: var(--css-accent-50);
}

body[data-css-theme="dark"] *[data-css-accent][data-css-type="success"],
body[data-css-theme="dark"] * [data-css-accent][data-css-type="success"],
body[data-css-theme="dark"] [data-css-accent] *:not([data-css-primary])[data-css-type="success"] {
  --css-normal-background: var(--css-accent-700);
  --css-normal-border: var(--css-accent-500);
  --css-normal-text: var(--css-accent-50);
  --css-selected-background: var(--css-accent-400);
  --css-selected-border: var(--css-accent-300);
  --css-selected-text: var(--css-accent-900);
  --css-pressed-background: var(--css-accent-300);
  --css-pressed-border: var(--css-accent-200);
  --css-pressed-text: var(--css-accent-900);
}

body[data-css-theme="dark"] *[data-css-accent][data-css-type="warning"],
body[data-css-theme="dark"] * [data-css-accent][data-css-type="warning"],
body[data-css-theme="dark"] [data-css-accent] *:not([data-css-primary])[data-css-type="warning"] {
  --css-normal-background: var(--css-accent-400);
  --css-normal-border: var(--css-accent-200);
  --css-normal-text: var(--css-black);
  --css-selected-background: var(--css-accent-100);
  --css-selected-border: var(--css-accent-50);
  --css-selected-text: var(--css-accent-900);
  --css-pressed-background: var(--css-white);
  --css-pressed-border: var(--css-accent-200);
  --css-pressed-text: var(--css-black);
}

body[data-css-theme="dark"] *[data-css-accent][data-css-type="error"],
body[data-css-theme="dark"] * [data-css-accent][data-css-type="error"],
body[data-css-theme="dark"] [data-css-accent] *:not([data-css-primary])[data-css-type="error"] {
  --css-normal-background: var(--css-accent-200);
  --css-normal-border: var(--css-accent-50);
  --css-normal-text: var(--css-accent-900);
  --css-selected-background: var(--css-white);
  --css-selected-border: var(--css-accent-100);
  --css-selected-text: var(--css-black);
  --css-pressed-background: var(--css-accent-100);
  --css-pressed-border: var(--css-accent-300);
  --css-pressed-text: var(--css-black);
}

body[data-css-theme="dark"] *,
body[data-css-theme="dark"] * [data-css-primary],
body[data-css-theme="dark"] *[data-css-primary],
body[data-css-theme="dark"] [data-css-primary] *:not([data-css-accent]) {
  --css-normal-background: var(--css-primary-800);
  --css-normal-border: var(--css-primary-500);
  --css-normal-text: var(--css-primary-100);
  --css-selected-background: var(--css-primary-600);
  --css-selected-border: var(--css-primary-300);
  --css-selected-text: var(--css-primary-200);
  --css-pressed-background: var(--css-primary-500);
  --css-pressed-border: var(--css-primary-200);
  --css-pressed-text: var(--css-primary-200);
  --css-disabled-background: var(--css-primary-900);
  --css-disabled-border: var(--css-primary-700);
  --css-disabled-text: var(--css-primary-200);
}

body[data-css-theme="dark"] *[data-css-type="info"],
body[data-css-theme="dark"] * [data-css-primary][data-css-type="info"],
body[data-css-theme="dark"] *[data-css-primary][data-css-type="info"],
body[data-css-theme="dark"] [data-css-primary] *:not([data-css-accent])[data-css-type="info"] {
  --css-normal-background: var(--css-black);
  --css-normal-border: var(--css-primary-800);
  --css-normal-text: var(--css-primary-100);
  --css-selected-background: var(--css-primary-800);
  --css-selected-border: var(--css-primary-500);
  --css-selected-text: var(--css-primary-50);
  --css-pressed-background: var(--css-primary-700);
  --css-pressed-border: var(--css-primary-400);
  --css-pressed-text: var(--css-primary-50);
}

body[data-css-theme="dark"] *[data-css-type="success"],
body[data-css-theme="dark"] * [data-css-primary][data-css-type="success"],
body[data-css-theme="dark"] *[data-css-primary][data-css-type="success"],
body[data-css-theme="dark"] [data-css-primary] *:not([data-css-accent])[data-css-type="success"] {
  --css-normal-background: var(--css-primary-700);
  --css-normal-border: var(--css-primary-500);
  --css-normal-text: var(--css-primary-50);
  --css-selected-background: var(--css-primary-400);
  --css-selected-border: var(--css-primary-300);
  --css-selected-text: var(--css-primary-900);
  --css-pressed-background: var(--css-primary-300);
  --css-pressed-border: var(--css-primary-200);
  --css-pressed-text: var(--css-primary-900);
}

body[data-css-theme="dark"] *[data-css-type="warning"],
body[data-css-theme="dark"] * [data-css-primary][data-css-type="warning"],
body[data-css-theme="dark"] *[data-css-primary][data-css-type="warning"],
body[data-css-theme="dark"] [data-css-primary] *:not([data-css-accent])[data-css-type="warning"] {
  --css-normal-background: var(--css-primary-400);
  --css-normal-border: var(--css-primary-200);
  --css-normal-text: var(--css-black);
  --css-selected-background: var(--css-primary-100);
  --css-selected-border: var(--css-primary-50);
  --css-selected-text: var(--css-primary-900);
  --css-pressed-background: var(--css-white);
  --css-pressed-border: var(--css-primary-200);
  --css-pressed-text: var(--css-black);
}

body[data-css-theme="dark"] *[data-css-type="error"],
body[data-css-theme="dark"] * [data-css-primary][data-css-type="error"],
body[data-css-theme="dark"] *[data-css-primary][data-css-type="error"],
body[data-css-theme="dark"] [data-css-primary] *:not([data-css-accent])[data-css-type="error"] {
  --css-normal-background: var(--css-primary-200);
  --css-normal-border: var(--css-primary-50);
  --css-normal-text: var(--css-primary-900);
  --css-selected-background: var(--css-white);
  --css-selected-border: var(--css-primary-100);
  --css-selected-text: var(--css-black);
  --css-pressed-background: var(--css-primary-100);
  --css-pressed-border: var(--css-primary-300);
  --css-pressed-text: var(--css-black);
}

/* Basic styles */
html,
body {
  display: block;
  min-height: 100%;
  position: relative;
  margin: 0;
  min-width: 100%;
  z-index: 1;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 14px;
}

[role],
[data-css-role] {
  position: relative;
}

/* Colors */
[data-css-primary] {
  color: var(--css-primary-900);
}

[data-css-accent] {
  color: var(--css-accent-900);
}

/* Hidden items */
[aria-hidden="true"] {
  display: none;
}

/* Headers */
h1, h2, h3, h4, h5, h6,
[data-css-role="heading"]
[role="heading"] {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 1.875rem;
  text-decoration: none;
}

h1[data-css-accent],
[data-css-accent] h1, h2[data-css-accent],
[data-css-accent] h2, h3[data-css-accent],
[data-css-accent] h3, h4[data-css-accent],
[data-css-accent] h4, h5[data-css-accent],
[data-css-accent] h5, h6[data-css-accent],
[data-css-accent] h6,
[data-css-role="heading"]
[role="heading"][data-css-accent],
[data-css-accent]
[data-css-role="heading"]
[role="heading"] {
  color: var(--css-accent-600);
}

h1, h1[data-css-primary],
[data-css-primary] h1, h2, h2[data-css-primary],
[data-css-primary] h2, h3, h3[data-css-primary],
[data-css-primary] h3, h4, h4[data-css-primary],
[data-css-primary] h4, h5, h5[data-css-primary],
[data-css-primary] h5, h6, h6[data-css-primary],
[data-css-primary] h6,
[data-css-role="heading"]
[role="heading"],
[data-css-role="heading"]
[role="heading"][data-css-primary],
[data-css-primary]
[data-css-role="heading"]
[role="heading"] {
  color: var(--css-primary-600);
}

h1 {
  font-size: 2.617rem;
}

h2 {
  font-size: 2.292rem;
}

h3 {
  font-size: 1.969em;
}

h4 {
  font-size: 1.646em;
}

h5 {
  font-size: 1.323em;
}

/* Floats and clears */
[data-css-float="left"] {
  float: left;
}

[data-css-float="right"] {
  float: right;
}

[data-css-clear="left"] {
  clear: left;
}

[data-css-clear="right"] {
  clear: right;
}

[data-css-clear="both"] {
  clear: both;
}

/* Positioning */
[data-css-position="absolute"] {
  position: absolute;
}

[data-css-position="fixed"] {
  position: fixed;
}

[data-css-position="relative"] {
  position: relative;
}

[data-css-position="static"] {
  position: static;
}

[data-css-position="sticky"] {
  position: -webkit-sticky;
  position: sticky;
}

/* Text formatting */
[data-css-bold] {
  font-weight: bold;
}

[data-css-italic] {
  font-style: italic;
}

[data-css-line-through] {
  text-decoration: line-through;
}

[data-css-oblique] {
  font-style: oblique;
}

[data-css-overline] {
  text-decoration: overline;
}

[data-css-underline] {
  text-decoration: underline;
}
/*# sourceMappingURL=core.css.map */