/* Color properties */
:root {
  /* black and white universal properties */
  --css-black: #000;
  --css-white: #FFF;
  /* default palette (Grey) */
  --css-primary-50: #FAFAFA;
  --css-primary-100: #F5F5F5;
  --css-primary-200: #EEEEEE;
  --css-primary-300: #E0E0E0;
  --css-primary-400: #BDBDBD;
  --css-primary-500: #9E9E9E;
  --css-primary-600: #757575;
  --css-primary-700: #616161;
  --css-primary-800: #424242;
  --css-primary-900: #212121;
}

[data-css-theme="light"] *:not([data-css-color]),
[data-css-theme="light"] *[data-css-color="primary"],
[data-css-theme="light"] [data-css-color="primary"] *:not([data-css-color]) {
  /* Setting light theme normal primary colors */
  --css-normal-background: var(--css-primary-100);
  --css-normal-border: var(--css-primary-500);
  --css-normal-text: var(--css-primary-900);
}

:not([data-css-theme]) *:not([data-css-color]),
:not([data-css-theme]) *[data-css-color="primary"],
:not([data-css-theme]) [data-css-color="primary"] *:not([data-css-color]) {
  /* Setting light theme normal primary colors */
  --css-normal-background: var(--css-primary-100);
  --css-normal-border: var(--css-primary-500);
  --css-normal-text: var(--css-primary-900);
}

[data-css-theme="light"] *[data-css-color="accent"],
[data-css-theme="light"] [data-css-color="accent"] *:not([data-css-color]) {
  /* Setting light theme normal accent colors */
  --css-normal-background: var(--css-accent-100);
  --css-normal-border: var(--css-accent-500);
  --css-normal-text: var(--css-accent-900);
}

:not([data-css-theme]) *[data-css-color="accent"],
:not([data-css-theme]) [data-css-color="accent"] *:not([data-css-color]) {
  /* Setting light theme normal accent colors */
  --css-normal-background: var(--css-accent-100);
  --css-normal-border: var(--css-accent-500);
  --css-normal-text: var(--css-accent-900);
}

[data-css-theme="light"] *:not([data-css-color]),
[data-css-theme="light"] *[data-css-color="primary"],
[data-css-theme="light"] [data-css-color="primary"] *:not([data-css-color]) {
  /* Setting light theme selected primary colors */
  --css-selected-background: var(--css-primary-300);
  --css-selected-border: var(--css-primary-700);
  --css-selected-text: var(--css-primary-900);
}

:not([data-css-theme]) *:not([data-css-color]),
:not([data-css-theme]) *[data-css-color="primary"],
:not([data-css-theme]) [data-css-color="primary"] *:not([data-css-color]) {
  /* Setting light theme selected primary colors */
  --css-selected-background: var(--css-primary-300);
  --css-selected-border: var(--css-primary-700);
  --css-selected-text: var(--css-primary-900);
}

[data-css-theme="light"] *[data-css-color="accent"],
[data-css-theme="light"] [data-css-color="accent"] *:not([data-css-color]) {
  /* Setting light theme selected accent colors */
  --css-selected-background: var(--css-accent-300);
  --css-selected-border: var(--css-accent-700);
  --css-selected-text: var(--css-accent-900);
}

:not([data-css-theme]) *[data-css-color="accent"],
:not([data-css-theme]) [data-css-color="accent"] *:not([data-css-color]) {
  /* Setting light theme selected accent colors */
  --css-selected-background: var(--css-accent-300);
  --css-selected-border: var(--css-accent-700);
  --css-selected-text: var(--css-accent-900);
}

[data-css-theme="light"] *:not([data-css-color]),
[data-css-theme="light"] *[data-css-color="primary"],
[data-css-theme="light"] [data-css-color="primary"] *:not([data-css-color]) {
  /* Setting light theme pressed primary colors */
  --css-pressed-background: var(--css-primary-400);
  --css-pressed-border: var(--css-primary-900);
  --css-pressed-text: var(--css-primary-900);
}

:not([data-css-theme]) *:not([data-css-color]),
:not([data-css-theme]) *[data-css-color="primary"],
:not([data-css-theme]) [data-css-color="primary"] *:not([data-css-color]) {
  /* Setting light theme pressed primary colors */
  --css-pressed-background: var(--css-primary-400);
  --css-pressed-border: var(--css-primary-900);
  --css-pressed-text: var(--css-primary-900);
}

[data-css-theme="light"] *[data-css-color="accent"],
[data-css-theme="light"] [data-css-color="accent"] *:not([data-css-color]) {
  /* Setting light theme pressed accent colors */
  --css-pressed-background: var(--css-accent-400);
  --css-pressed-border: var(--css-accent-900);
  --css-pressed-text: var(--css-accent-900);
}

:not([data-css-theme]) *[data-css-color="accent"],
:not([data-css-theme]) [data-css-color="accent"] *:not([data-css-color]) {
  /* Setting light theme pressed accent colors */
  --css-pressed-background: var(--css-accent-400);
  --css-pressed-border: var(--css-accent-900);
  --css-pressed-text: var(--css-accent-900);
}

[data-css-theme="light"] *:not([data-css-color]),
[data-css-theme="light"] *[data-css-color="primary"],
[data-css-theme="light"] [data-css-color="primary"] *:not([data-css-color]) {
  /* Setting light theme disabled primary colors */
  --css-disabled-background: var(--css-primary-50);
  --css-disabled-border: var(--css-primary-300);
  --css-disabled-text: var(--css-primary-700);
}

:not([data-css-theme]) *:not([data-css-color]),
:not([data-css-theme]) *[data-css-color="primary"],
:not([data-css-theme]) [data-css-color="primary"] *:not([data-css-color]) {
  /* Setting light theme disabled primary colors */
  --css-disabled-background: var(--css-primary-50);
  --css-disabled-border: var(--css-primary-300);
  --css-disabled-text: var(--css-primary-700);
}

[data-css-theme="light"] *[data-css-color="accent"],
[data-css-theme="light"] [data-css-color="accent"] *:not([data-css-color]) {
  /* Setting light theme disabled accent colors */
  --css-disabled-background: var(--css-accent-50);
  --css-disabled-border: var(--css-accent-300);
  --css-disabled-text: var(--css-accent-700);
}

:not([data-css-theme]) *[data-css-color="accent"],
:not([data-css-theme]) [data-css-color="accent"] *:not([data-css-color]) {
  /* Setting light theme disabled accent colors */
  --css-disabled-background: var(--css-accent-50);
  --css-disabled-border: var(--css-accent-300);
  --css-disabled-text: var(--css-accent-700);
}

[data-css-theme="light"] *[data-css-type="info"]:not([data-css-color]),
[data-css-theme="light"] *[data-css-type="info"][data-css-color="primary"],
[data-css-theme="light"] [data-css-color="primary"] *[data-css-type="info"]:not([data-css-color]) {
  /* Setting light theme normal primary colors */
  --css-normal-background: var(--css-white);
  --css-normal-border: var(--css-primary-100);
  --css-normal-text: var(--css-primary-800);
}

:not([data-css-theme]) *[data-css-type="info"]:not([data-css-color]),
:not([data-css-theme]) *[data-css-type="info"][data-css-color="primary"],
:not([data-css-theme]) [data-css-color="primary"] *[data-css-type="info"]:not([data-css-color]) {
  /* Setting light theme normal primary colors */
  --css-normal-background: var(--css-white);
  --css-normal-border: var(--css-primary-100);
  --css-normal-text: var(--css-primary-800);
}

[data-css-theme="light"] *[data-css-type="info"][data-css-color="accent"],
[data-css-theme="light"] [data-css-color="accent"] *[data-css-type="info"]:not([data-css-color]) {
  /* Setting light theme normal accent colors */
  --css-normal-background: var(--css-white);
  --css-normal-border: var(--css-accent-100);
  --css-normal-text: var(--css-accent-800);
}

:not([data-css-theme]) *[data-css-type="info"][data-css-color="accent"],
:not([data-css-theme]) [data-css-color="accent"] *[data-css-type="info"]:not([data-css-color]) {
  /* Setting light theme normal accent colors */
  --css-normal-background: var(--css-white);
  --css-normal-border: var(--css-accent-100);
  --css-normal-text: var(--css-accent-800);
}

[data-css-theme="light"] *[data-css-type="info"]:not([data-css-color]),
[data-css-theme="light"] *[data-css-type="info"][data-css-color="primary"],
[data-css-theme="light"] [data-css-color="primary"] *[data-css-type="info"]:not([data-css-color]) {
  /* Setting light theme selected primary colors */
  --css-selected-background: var(--css-primary-200);
  --css-selected-border: var(--css-primary-300);
  --css-selected-text: var(--css-primary-900);
}

:not([data-css-theme]) *[data-css-type="info"]:not([data-css-color]),
:not([data-css-theme]) *[data-css-type="info"][data-css-color="primary"],
:not([data-css-theme]) [data-css-color="primary"] *[data-css-type="info"]:not([data-css-color]) {
  /* Setting light theme selected primary colors */
  --css-selected-background: var(--css-primary-200);
  --css-selected-border: var(--css-primary-300);
  --css-selected-text: var(--css-primary-900);
}

[data-css-theme="light"] *[data-css-type="info"][data-css-color="accent"],
[data-css-theme="light"] [data-css-color="accent"] *[data-css-type="info"]:not([data-css-color]) {
  /* Setting light theme selected accent colors */
  --css-selected-background: var(--css-accent-200);
  --css-selected-border: var(--css-accent-300);
  --css-selected-text: var(--css-accent-900);
}

:not([data-css-theme]) *[data-css-type="info"][data-css-color="accent"],
:not([data-css-theme]) [data-css-color="accent"] *[data-css-type="info"]:not([data-css-color]) {
  /* Setting light theme selected accent colors */
  --css-selected-background: var(--css-accent-200);
  --css-selected-border: var(--css-accent-300);
  --css-selected-text: var(--css-accent-900);
}

[data-css-theme="light"] *[data-css-type="info"]:not([data-css-color]),
[data-css-theme="light"] *[data-css-type="info"][data-css-color="primary"],
[data-css-theme="light"] [data-css-color="primary"] *[data-css-type="info"]:not([data-css-color]) {
  /* Setting light theme pressed primary colors */
  --css-pressed-background: var(--css-primary-300);
  --css-pressed-border: var(--css-primary-700);
  --css-pressed-text: var(--css-primary-900);
}

:not([data-css-theme]) *[data-css-type="info"]:not([data-css-color]),
:not([data-css-theme]) *[data-css-type="info"][data-css-color="primary"],
:not([data-css-theme]) [data-css-color="primary"] *[data-css-type="info"]:not([data-css-color]) {
  /* Setting light theme pressed primary colors */
  --css-pressed-background: var(--css-primary-300);
  --css-pressed-border: var(--css-primary-700);
  --css-pressed-text: var(--css-primary-900);
}

[data-css-theme="light"] *[data-css-type="info"][data-css-color="accent"],
[data-css-theme="light"] [data-css-color="accent"] *[data-css-type="info"]:not([data-css-color]) {
  /* Setting light theme pressed accent colors */
  --css-pressed-background: var(--css-accent-300);
  --css-pressed-border: var(--css-accent-700);
  --css-pressed-text: var(--css-accent-900);
}

:not([data-css-theme]) *[data-css-type="info"][data-css-color="accent"],
:not([data-css-theme]) [data-css-color="accent"] *[data-css-type="info"]:not([data-css-color]) {
  /* Setting light theme pressed accent colors */
  --css-pressed-background: var(--css-accent-300);
  --css-pressed-border: var(--css-accent-700);
  --css-pressed-text: var(--css-accent-900);
}

[data-css-theme="light"] *[data-css-type="success"]:not([data-css-color]),
[data-css-theme="light"] *[data-css-type="success"][data-css-color="primary"],
[data-css-theme="light"] [data-css-color="primary"] *[data-css-type="success"]:not([data-css-color]) {
  /* Setting light theme normal primary colors */
  --css-normal-background: var(--css-primary-200);
  --css-normal-border: var(--css-primary-300);
  --css-normal-text: var(--css-black);
}

:not([data-css-theme]) *[data-css-type="success"]:not([data-css-color]),
:not([data-css-theme]) *[data-css-type="success"][data-css-color="primary"],
:not([data-css-theme]) [data-css-color="primary"] *[data-css-type="success"]:not([data-css-color]) {
  /* Setting light theme normal primary colors */
  --css-normal-background: var(--css-primary-200);
  --css-normal-border: var(--css-primary-300);
  --css-normal-text: var(--css-black);
}

[data-css-theme="light"] *[data-css-type="success"][data-css-color="accent"],
[data-css-theme="light"] [data-css-color="accent"] *[data-css-type="success"]:not([data-css-color]) {
  /* Setting light theme normal accent colors */
  --css-normal-background: var(--css-accent-200);
  --css-normal-border: var(--css-accent-300);
  --css-normal-text: var(--css-black);
}

:not([data-css-theme]) *[data-css-type="success"][data-css-color="accent"],
:not([data-css-theme]) [data-css-color="accent"] *[data-css-type="success"]:not([data-css-color]) {
  /* Setting light theme normal accent colors */
  --css-normal-background: var(--css-accent-200);
  --css-normal-border: var(--css-accent-300);
  --css-normal-text: var(--css-black);
}

[data-css-theme="light"] *[data-css-type="success"]:not([data-css-color]),
[data-css-theme="light"] *[data-css-type="success"][data-css-color="primary"],
[data-css-theme="light"] [data-css-color="primary"] *[data-css-type="success"]:not([data-css-color]) {
  /* Setting light theme selected primary colors */
  --css-selected-background: var(--css-primary-500);
  --css-selected-border: var(--css-primary-500);
  --css-selected-text: var(--css-primary-900);
}

:not([data-css-theme]) *[data-css-type="success"]:not([data-css-color]),
:not([data-css-theme]) *[data-css-type="success"][data-css-color="primary"],
:not([data-css-theme]) [data-css-color="primary"] *[data-css-type="success"]:not([data-css-color]) {
  /* Setting light theme selected primary colors */
  --css-selected-background: var(--css-primary-500);
  --css-selected-border: var(--css-primary-500);
  --css-selected-text: var(--css-primary-900);
}

[data-css-theme="light"] *[data-css-type="success"][data-css-color="accent"],
[data-css-theme="light"] [data-css-color="accent"] *[data-css-type="success"]:not([data-css-color]) {
  /* Setting light theme selected accent colors */
  --css-selected-background: var(--css-accent-500);
  --css-selected-border: var(--css-accent-500);
  --css-selected-text: var(--css-accent-900);
}

:not([data-css-theme]) *[data-css-type="success"][data-css-color="accent"],
:not([data-css-theme]) [data-css-color="accent"] *[data-css-type="success"]:not([data-css-color]) {
  /* Setting light theme selected accent colors */
  --css-selected-background: var(--css-accent-500);
  --css-selected-border: var(--css-accent-500);
  --css-selected-text: var(--css-accent-900);
}

[data-css-theme="light"] *[data-css-type="success"]:not([data-css-color]),
[data-css-theme="light"] *[data-css-type="success"][data-css-color="primary"],
[data-css-theme="light"] [data-css-color="primary"] *[data-css-type="success"]:not([data-css-color]) {
  /* Setting light theme pressed primary colors */
  --css-pressed-background: var(--css-primary-600);
  --css-pressed-border: var(--css-primary-700);
  --css-pressed-text: var(--css-primary-900);
}

:not([data-css-theme]) *[data-css-type="success"]:not([data-css-color]),
:not([data-css-theme]) *[data-css-type="success"][data-css-color="primary"],
:not([data-css-theme]) [data-css-color="primary"] *[data-css-type="success"]:not([data-css-color]) {
  /* Setting light theme pressed primary colors */
  --css-pressed-background: var(--css-primary-600);
  --css-pressed-border: var(--css-primary-700);
  --css-pressed-text: var(--css-primary-900);
}

[data-css-theme="light"] *[data-css-type="success"][data-css-color="accent"],
[data-css-theme="light"] [data-css-color="accent"] *[data-css-type="success"]:not([data-css-color]) {
  /* Setting light theme pressed accent colors */
  --css-pressed-background: var(--css-accent-600);
  --css-pressed-border: var(--css-accent-700);
  --css-pressed-text: var(--css-accent-900);
}

:not([data-css-theme]) *[data-css-type="success"][data-css-color="accent"],
:not([data-css-theme]) [data-css-color="accent"] *[data-css-type="success"]:not([data-css-color]) {
  /* Setting light theme pressed accent colors */
  --css-pressed-background: var(--css-accent-600);
  --css-pressed-border: var(--css-accent-700);
  --css-pressed-text: var(--css-accent-900);
}

[data-css-theme="light"] *[data-css-type="warning"]:not([data-css-color]),
[data-css-theme="light"] *[data-css-type="warning"][data-css-color="primary"],
[data-css-theme="light"] [data-css-color="primary"] *[data-css-type="warning"]:not([data-css-color]) {
  /* Setting light theme normal primary colors */
  --css-normal-background: var(--css-primary-500);
  --css-normal-border: var(--css-primary-600);
  --css-normal-text: var(--css-black);
}

:not([data-css-theme]) *[data-css-type="warning"]:not([data-css-color]),
:not([data-css-theme]) *[data-css-type="warning"][data-css-color="primary"],
:not([data-css-theme]) [data-css-color="primary"] *[data-css-type="warning"]:not([data-css-color]) {
  /* Setting light theme normal primary colors */
  --css-normal-background: var(--css-primary-500);
  --css-normal-border: var(--css-primary-600);
  --css-normal-text: var(--css-black);
}

[data-css-theme="light"] *[data-css-type="warning"][data-css-color="accent"],
[data-css-theme="light"] [data-css-color="accent"] *[data-css-type="warning"]:not([data-css-color]) {
  /* Setting light theme normal accent colors */
  --css-normal-background: var(--css-accent-500);
  --css-normal-border: var(--css-accent-600);
  --css-normal-text: var(--css-black);
}

:not([data-css-theme]) *[data-css-type="warning"][data-css-color="accent"],
:not([data-css-theme]) [data-css-color="accent"] *[data-css-type="warning"]:not([data-css-color]) {
  /* Setting light theme normal accent colors */
  --css-normal-background: var(--css-accent-500);
  --css-normal-border: var(--css-accent-600);
  --css-normal-text: var(--css-black);
}

[data-css-theme="light"] *[data-css-type="warning"]:not([data-css-color]),
[data-css-theme="light"] *[data-css-type="warning"][data-css-color="primary"],
[data-css-theme="light"] [data-css-color="primary"] *[data-css-type="warning"]:not([data-css-color]) {
  /* Setting light theme selected primary colors */
  --css-selected-background: var(--css-primary-800);
  --css-selected-border: var(--css-primary-800);
  --css-selected-text: var(--css-white);
}

:not([data-css-theme]) *[data-css-type="warning"]:not([data-css-color]),
:not([data-css-theme]) *[data-css-type="warning"][data-css-color="primary"],
:not([data-css-theme]) [data-css-color="primary"] *[data-css-type="warning"]:not([data-css-color]) {
  /* Setting light theme selected primary colors */
  --css-selected-background: var(--css-primary-800);
  --css-selected-border: var(--css-primary-800);
  --css-selected-text: var(--css-white);
}

[data-css-theme="light"] *[data-css-type="warning"][data-css-color="accent"],
[data-css-theme="light"] [data-css-color="accent"] *[data-css-type="warning"]:not([data-css-color]) {
  /* Setting light theme selected accent colors */
  --css-selected-background: var(--css-accent-800);
  --css-selected-border: var(--css-accent-800);
  --css-selected-text: var(--css-white);
}

:not([data-css-theme]) *[data-css-type="warning"][data-css-color="accent"],
:not([data-css-theme]) [data-css-color="accent"] *[data-css-type="warning"]:not([data-css-color]) {
  /* Setting light theme selected accent colors */
  --css-selected-background: var(--css-accent-800);
  --css-selected-border: var(--css-accent-800);
  --css-selected-text: var(--css-white);
}

[data-css-theme="light"] *[data-css-type="warning"]:not([data-css-color]),
[data-css-theme="light"] *[data-css-type="warning"][data-css-color="primary"],
[data-css-theme="light"] [data-css-color="primary"] *[data-css-type="warning"]:not([data-css-color]) {
  /* Setting light theme pressed primary colors */
  --css-pressed-background: var(--css-primary-900);
  --css-pressed-border: var(--css-primary-800);
  --css-pressed-text: var(--css-white);
}

:not([data-css-theme]) *[data-css-type="warning"]:not([data-css-color]),
:not([data-css-theme]) *[data-css-type="warning"][data-css-color="primary"],
:not([data-css-theme]) [data-css-color="primary"] *[data-css-type="warning"]:not([data-css-color]) {
  /* Setting light theme pressed primary colors */
  --css-pressed-background: var(--css-primary-900);
  --css-pressed-border: var(--css-primary-800);
  --css-pressed-text: var(--css-white);
}

[data-css-theme="light"] *[data-css-type="warning"][data-css-color="accent"],
[data-css-theme="light"] [data-css-color="accent"] *[data-css-type="warning"]:not([data-css-color]) {
  /* Setting light theme pressed accent colors */
  --css-pressed-background: var(--css-accent-900);
  --css-pressed-border: var(--css-accent-800);
  --css-pressed-text: var(--css-white);
}

:not([data-css-theme]) *[data-css-type="warning"][data-css-color="accent"],
:not([data-css-theme]) [data-css-color="accent"] *[data-css-type="warning"]:not([data-css-color]) {
  /* Setting light theme pressed accent colors */
  --css-pressed-background: var(--css-accent-900);
  --css-pressed-border: var(--css-accent-800);
  --css-pressed-text: var(--css-white);
}

[data-css-theme="light"] *[data-css-type="error"]:not([data-css-color]),
[data-css-theme="light"] *[data-css-type="error"][data-css-color="primary"],
[data-css-theme="light"] [data-css-color="primary"] *[data-css-type="error"]:not([data-css-color]) {
  /* Setting light theme normal primary colors */
  --css-normal-background: var(--css-primary-700);
  --css-normal-border: var(--css-primary-800);
  --css-normal-text: var(--css-white);
}

:not([data-css-theme]) *[data-css-type="error"]:not([data-css-color]),
:not([data-css-theme]) *[data-css-type="error"][data-css-color="primary"],
:not([data-css-theme]) [data-css-color="primary"] *[data-css-type="error"]:not([data-css-color]) {
  /* Setting light theme normal primary colors */
  --css-normal-background: var(--css-primary-700);
  --css-normal-border: var(--css-primary-800);
  --css-normal-text: var(--css-white);
}

[data-css-theme="light"] *[data-css-type="error"][data-css-color="accent"],
[data-css-theme="light"] [data-css-color="accent"] *[data-css-type="error"]:not([data-css-color]) {
  /* Setting light theme normal accent colors */
  --css-normal-background: var(--css-accent-700);
  --css-normal-border: var(--css-accent-800);
  --css-normal-text: var(--css-white);
}

:not([data-css-theme]) *[data-css-type="error"][data-css-color="accent"],
:not([data-css-theme]) [data-css-color="accent"] *[data-css-type="error"]:not([data-css-color]) {
  /* Setting light theme normal accent colors */
  --css-normal-background: var(--css-accent-700);
  --css-normal-border: var(--css-accent-800);
  --css-normal-text: var(--css-white);
}

[data-css-theme="light"] *[data-css-type="error"]:not([data-css-color]),
[data-css-theme="light"] *[data-css-type="error"][data-css-color="primary"],
[data-css-theme="light"] [data-css-color="primary"] *[data-css-type="error"]:not([data-css-color]) {
  /* Setting light theme selected primary colors */
  --css-selected-background: var(--css-primary-900);
  --css-selected-border: var(--css-primary-800);
  --css-selected-text: var(--css-white);
}

:not([data-css-theme]) *[data-css-type="error"]:not([data-css-color]),
:not([data-css-theme]) *[data-css-type="error"][data-css-color="primary"],
:not([data-css-theme]) [data-css-color="primary"] *[data-css-type="error"]:not([data-css-color]) {
  /* Setting light theme selected primary colors */
  --css-selected-background: var(--css-primary-900);
  --css-selected-border: var(--css-primary-800);
  --css-selected-text: var(--css-white);
}

[data-css-theme="light"] *[data-css-type="error"][data-css-color="accent"],
[data-css-theme="light"] [data-css-color="accent"] *[data-css-type="error"]:not([data-css-color]) {
  /* Setting light theme selected accent colors */
  --css-selected-background: var(--css-accent-900);
  --css-selected-border: var(--css-accent-800);
  --css-selected-text: var(--css-white);
}

:not([data-css-theme]) *[data-css-type="error"][data-css-color="accent"],
:not([data-css-theme]) [data-css-color="accent"] *[data-css-type="error"]:not([data-css-color]) {
  /* Setting light theme selected accent colors */
  --css-selected-background: var(--css-accent-900);
  --css-selected-border: var(--css-accent-800);
  --css-selected-text: var(--css-white);
}

[data-css-theme="light"] *[data-css-type="error"]:not([data-css-color]),
[data-css-theme="light"] *[data-css-type="error"][data-css-color="primary"],
[data-css-theme="light"] [data-css-color="primary"] *[data-css-type="error"]:not([data-css-color]) {
  /* Setting light theme pressed primary colors */
  --css-pressed-background: var(--css-primary-800);
  --css-pressed-border: var(--css-primary-600);
  --css-pressed-text: var(--css-white);
}

:not([data-css-theme]) *[data-css-type="error"]:not([data-css-color]),
:not([data-css-theme]) *[data-css-type="error"][data-css-color="primary"],
:not([data-css-theme]) [data-css-color="primary"] *[data-css-type="error"]:not([data-css-color]) {
  /* Setting light theme pressed primary colors */
  --css-pressed-background: var(--css-primary-800);
  --css-pressed-border: var(--css-primary-600);
  --css-pressed-text: var(--css-white);
}

[data-css-theme="light"] *[data-css-type="error"][data-css-color="accent"],
[data-css-theme="light"] [data-css-color="accent"] *[data-css-type="error"]:not([data-css-color]) {
  /* Setting light theme pressed accent colors */
  --css-pressed-background: var(--css-accent-800);
  --css-pressed-border: var(--css-accent-600);
  --css-pressed-text: var(--css-white);
}

:not([data-css-theme]) *[data-css-type="error"][data-css-color="accent"],
:not([data-css-theme]) [data-css-color="accent"] *[data-css-type="error"]:not([data-css-color]) {
  /* Setting light theme pressed accent colors */
  --css-pressed-background: var(--css-accent-800);
  --css-pressed-border: var(--css-accent-600);
  --css-pressed-text: var(--css-white);
}

body:not(data-css-theme),
body[data-css-theme="light"] {
  background: var(--css-primary-50);
  color: var(--css-primary-800);
}

[data-css-theme="light"] h1:not([data-css-color]),
[data-css-theme="light"] h1[data-css-color="primary"],
[data-css-theme="light"] [data-css-color="primary"] h1:not([data-css-color]), [data-css-theme="light"] h2:not([data-css-color]),
[data-css-theme="light"] h2[data-css-color="primary"],
[data-css-theme="light"] [data-css-color="primary"] h2:not([data-css-color]), [data-css-theme="light"]
[data-css-role="heading"]:not([data-css-color]),
[data-css-theme="light"]
[data-css-role="heading"][data-css-color="primary"],
[data-css-theme="light"] [data-css-color="primary"]
[data-css-role="heading"]:not([data-css-color]), [data-css-theme="light"]
[role="heading"]:not([data-css-color]),
[data-css-theme="light"]
[role="heading"][data-css-color="primary"],
[data-css-theme="light"] [data-css-color="primary"]
[role="heading"]:not([data-css-color]) {
  /* Setting light theme normal primary colors */
  --css-normal-text: var(--css-primary-700);
}

:not([data-css-theme]) h1:not([data-css-color]),
:not([data-css-theme]) h1[data-css-color="primary"],
:not([data-css-theme]) [data-css-color="primary"] h1:not([data-css-color]), :not([data-css-theme]) h2:not([data-css-color]),
:not([data-css-theme]) h2[data-css-color="primary"],
:not([data-css-theme]) [data-css-color="primary"] h2:not([data-css-color]), :not([data-css-theme])
[data-css-role="heading"]:not([data-css-color]),
:not([data-css-theme])
[data-css-role="heading"][data-css-color="primary"],
:not([data-css-theme]) [data-css-color="primary"]
[data-css-role="heading"]:not([data-css-color]), :not([data-css-theme])
[role="heading"]:not([data-css-color]),
:not([data-css-theme])
[role="heading"][data-css-color="primary"],
:not([data-css-theme]) [data-css-color="primary"]
[role="heading"]:not([data-css-color]) {
  /* Setting light theme normal primary colors */
  --css-normal-text: var(--css-primary-700);
}

[data-css-theme="light"] h1[data-css-color="accent"],
[data-css-theme="light"] [data-css-color="accent"] h1:not([data-css-color]), [data-css-theme="light"] h2[data-css-color="accent"],
[data-css-theme="light"] [data-css-color="accent"] h2:not([data-css-color]), [data-css-theme="light"]
[data-css-role="heading"][data-css-color="accent"],
[data-css-theme="light"] [data-css-color="accent"]
[data-css-role="heading"]:not([data-css-color]), [data-css-theme="light"]
[role="heading"][data-css-color="accent"],
[data-css-theme="light"] [data-css-color="accent"]
[role="heading"]:not([data-css-color]) {
  /* Setting light theme normal accent colors */
  --css-normal-text: var(--css-accent-700);
}

:not([data-css-theme]) h1[data-css-color="accent"],
:not([data-css-theme]) [data-css-color="accent"] h1:not([data-css-color]), :not([data-css-theme]) h2[data-css-color="accent"],
:not([data-css-theme]) [data-css-color="accent"] h2:not([data-css-color]), :not([data-css-theme])
[data-css-role="heading"][data-css-color="accent"],
:not([data-css-theme]) [data-css-color="accent"]
[data-css-role="heading"]:not([data-css-color]), :not([data-css-theme])
[role="heading"][data-css-color="accent"],
:not([data-css-theme]) [data-css-color="accent"]
[role="heading"]:not([data-css-color]) {
  /* Setting light theme normal accent colors */
  --css-normal-text: var(--css-accent-700);
}

[data-css-theme="light"] h3:not([data-css-color]),
[data-css-theme="light"] h3[data-css-color="primary"],
[data-css-theme="light"] [data-css-color="primary"] h3:not([data-css-color]), [data-css-theme="light"] h4:not([data-css-color]),
[data-css-theme="light"] h4[data-css-color="primary"],
[data-css-theme="light"] [data-css-color="primary"] h4:not([data-css-color]), [data-css-theme="light"] h5:not([data-css-color]),
[data-css-theme="light"] h5[data-css-color="primary"],
[data-css-theme="light"] [data-css-color="primary"] h5:not([data-css-color]), [data-css-theme="light"] h6:not([data-css-color]),
[data-css-theme="light"] h6[data-css-color="primary"],
[data-css-theme="light"] [data-css-color="primary"] h6:not([data-css-color]) {
  /* Setting light theme normal primary colors */
  --css-normal-text: var(--css-primary-800);
}

:not([data-css-theme]) h3:not([data-css-color]),
:not([data-css-theme]) h3[data-css-color="primary"],
:not([data-css-theme]) [data-css-color="primary"] h3:not([data-css-color]), :not([data-css-theme]) h4:not([data-css-color]),
:not([data-css-theme]) h4[data-css-color="primary"],
:not([data-css-theme]) [data-css-color="primary"] h4:not([data-css-color]), :not([data-css-theme]) h5:not([data-css-color]),
:not([data-css-theme]) h5[data-css-color="primary"],
:not([data-css-theme]) [data-css-color="primary"] h5:not([data-css-color]), :not([data-css-theme]) h6:not([data-css-color]),
:not([data-css-theme]) h6[data-css-color="primary"],
:not([data-css-theme]) [data-css-color="primary"] h6:not([data-css-color]) {
  /* Setting light theme normal primary colors */
  --css-normal-text: var(--css-primary-800);
}

[data-css-theme="light"] h3[data-css-color="accent"],
[data-css-theme="light"] [data-css-color="accent"] h3:not([data-css-color]), [data-css-theme="light"] h4[data-css-color="accent"],
[data-css-theme="light"] [data-css-color="accent"] h4:not([data-css-color]), [data-css-theme="light"] h5[data-css-color="accent"],
[data-css-theme="light"] [data-css-color="accent"] h5:not([data-css-color]), [data-css-theme="light"] h6[data-css-color="accent"],
[data-css-theme="light"] [data-css-color="accent"] h6:not([data-css-color]) {
  /* Setting light theme normal accent colors */
  --css-normal-text: var(--css-accent-800);
}

:not([data-css-theme]) h3[data-css-color="accent"],
:not([data-css-theme]) [data-css-color="accent"] h3:not([data-css-color]), :not([data-css-theme]) h4[data-css-color="accent"],
:not([data-css-theme]) [data-css-color="accent"] h4:not([data-css-color]), :not([data-css-theme]) h5[data-css-color="accent"],
:not([data-css-theme]) [data-css-color="accent"] h5:not([data-css-color]), :not([data-css-theme]) h6[data-css-color="accent"],
:not([data-css-theme]) [data-css-color="accent"] h6:not([data-css-color]) {
  /* Setting light theme normal accent colors */
  --css-normal-text: var(--css-accent-800);
}

[data-css-theme="dark"] *:not([data-css-color]),
[data-css-theme="dark"] *[data-css-color="primary"],
[data-css-theme="dark"] [data-css-color="primary"] *:not([data-css-color]) {
  /* Setting dark theme normal primary colors */
  --css-normal-background: var(--css-primary-800);
  --css-normal-border: var(--css-primary-500);
  --css-normal-text: var(--css-primary-100);
}

[data-css-theme="dark"] *[data-css-color="accent"],
[data-css-theme="dark"] [data-css-color="accent"] *:not([data-css-color]) {
  /* Setting dark theme normal accent colors */
  --css-normal-background: var(--css-accent-800);
  --css-normal-border: var(--css-accent-500);
  --css-normal-text: var(--css-accent-100);
}

[data-css-theme="dark"] *:not([data-css-color]),
[data-css-theme="dark"] *[data-css-color="primary"],
[data-css-theme="dark"] [data-css-color="primary"] *:not([data-css-color]) {
  /* Setting dark theme selected primary colors */
  --css-selected-background: var(--css-primary-600);
  --css-selected-border: var(--css-primary-400);
  --css-selected-text: var(--css-primary-200);
}

[data-css-theme="dark"] *[data-css-color="accent"],
[data-css-theme="dark"] [data-css-color="accent"] *:not([data-css-color]) {
  /* Setting dark theme selected accent colors */
  --css-selected-background: var(--css-accent-600);
  --css-selected-border: var(--css-accent-400);
  --css-selected-text: var(--css-accent-200);
}

[data-css-theme="dark"] *:not([data-css-color]),
[data-css-theme="dark"] *[data-css-color="primary"],
[data-css-theme="dark"] [data-css-color="primary"] *:not([data-css-color]) {
  /* Setting dark theme pressed primary colors */
  --css-pressed-background: var(--css-primary-500);
  --css-pressed-border: var(--css-primary-200);
  --css-pressed-text: var(--css-primary-200);
}

[data-css-theme="dark"] *[data-css-color="accent"],
[data-css-theme="dark"] [data-css-color="accent"] *:not([data-css-color]) {
  /* Setting dark theme pressed accent colors */
  --css-pressed-background: var(--css-accent-500);
  --css-pressed-border: var(--css-accent-200);
  --css-pressed-text: var(--css-accent-200);
}

[data-css-theme="dark"] *:not([data-css-color]),
[data-css-theme="dark"] *[data-css-color="primary"],
[data-css-theme="dark"] [data-css-color="primary"] *:not([data-css-color]) {
  /* Setting dark theme disabled primary colors */
  --css-disabled-background: var(--css-primary-900);
  --css-disabled-border: var(--css-primary-700);
  --css-disabled-text: var(--css-primary-200);
}

[data-css-theme="dark"] *[data-css-color="accent"],
[data-css-theme="dark"] [data-css-color="accent"] *:not([data-css-color]) {
  /* Setting dark theme disabled accent colors */
  --css-disabled-background: var(--css-accent-900);
  --css-disabled-border: var(--css-accent-700);
  --css-disabled-text: var(--css-accent-200);
}

[data-css-theme="dark"] *[data-css-type="info"]:not([data-css-color]),
[data-css-theme="dark"] *[data-css-type="info"][data-css-color="primary"],
[data-css-theme="dark"] [data-css-color="primary"] *[data-css-type="info"]:not([data-css-color]) {
  /* Setting dark theme normal primary colors */
  --css-normal-background: var(--css-black);
  --css-normal-border: var(--css-primary-800);
  --css-normal-text: var(--css-primary-100);
}

[data-css-theme="dark"] *[data-css-type="info"][data-css-color="accent"],
[data-css-theme="dark"] [data-css-color="accent"] *[data-css-type="info"]:not([data-css-color]) {
  /* Setting dark theme normal accent colors */
  --css-normal-background: var(--css-black);
  --css-normal-border: var(--css-accent-800);
  --css-normal-text: var(--css-accent-100);
}

[data-css-theme="dark"] *[data-css-type="info"]:not([data-css-color]),
[data-css-theme="dark"] *[data-css-type="info"][data-css-color="primary"],
[data-css-theme="dark"] [data-css-color="primary"] *[data-css-type="info"]:not([data-css-color]) {
  /* Setting dark theme selected primary colors */
  --css-selected-background: var(--css-primary-800);
  --css-selected-border: var(--css-primary-500);
  --css-selected-text: var(--css-primary-50);
}

[data-css-theme="dark"] *[data-css-type="info"][data-css-color="accent"],
[data-css-theme="dark"] [data-css-color="accent"] *[data-css-type="info"]:not([data-css-color]) {
  /* Setting dark theme selected accent colors */
  --css-selected-background: var(--css-accent-800);
  --css-selected-border: var(--css-accent-500);
  --css-selected-text: var(--css-accent-50);
}

[data-css-theme="dark"] *[data-css-type="info"]:not([data-css-color]),
[data-css-theme="dark"] *[data-css-type="info"][data-css-color="primary"],
[data-css-theme="dark"] [data-css-color="primary"] *[data-css-type="info"]:not([data-css-color]) {
  /* Setting dark theme pressed primary colors */
  --css-pressed-background: var(--css-primary-700);
  --css-pressed-border: var(--css-primary-400);
  --css-pressed-text: var(--css-primary-500);
}

[data-css-theme="dark"] *[data-css-type="info"][data-css-color="accent"],
[data-css-theme="dark"] [data-css-color="accent"] *[data-css-type="info"]:not([data-css-color]) {
  /* Setting dark theme pressed accent colors */
  --css-pressed-background: var(--css-accent-700);
  --css-pressed-border: var(--css-accent-400);
  --css-pressed-text: var(--css-accent-500);
}

[data-css-theme="dark"] *[data-css-type="success"]:not([data-css-color]),
[data-css-theme="dark"] *[data-css-type="success"][data-css-color="primary"],
[data-css-theme="dark"] [data-css-color="primary"] *[data-css-type="success"]:not([data-css-color]) {
  /* Setting dark theme normal primary colors */
  --css-normal-background: var(--css-primary-600);
  --css-normal-border: var(--css-primary-500);
  --css-normal-text: var(--css-primary-100);
}

[data-css-theme="dark"] *[data-css-type="success"][data-css-color="accent"],
[data-css-theme="dark"] [data-css-color="accent"] *[data-css-type="success"]:not([data-css-color]) {
  /* Setting dark theme normal accent colors */
  --css-normal-background: var(--css-accent-600);
  --css-normal-border: var(--css-accent-500);
  --css-normal-text: var(--css-accent-100);
}

[data-css-theme="dark"] *[data-css-type="success"]:not([data-css-color]),
[data-css-theme="dark"] *[data-css-type="success"][data-css-color="primary"],
[data-css-theme="dark"] [data-css-color="primary"] *[data-css-type="success"]:not([data-css-color]) {
  /* Setting dark theme selected primary colors */
  --css-selected-background: var(--css-primary-400);
  --css-selected-border: var(--css-primary-300);
  --css-selected-text: var(--css-primary-900);
}

[data-css-theme="dark"] *[data-css-type="success"][data-css-color="accent"],
[data-css-theme="dark"] [data-css-color="accent"] *[data-css-type="success"]:not([data-css-color]) {
  /* Setting dark theme selected accent colors */
  --css-selected-background: var(--css-accent-400);
  --css-selected-border: var(--css-accent-300);
  --css-selected-text: var(--css-accent-900);
}

[data-css-theme="dark"] *[data-css-type="success"]:not([data-css-color]),
[data-css-theme="dark"] *[data-css-type="success"][data-css-color="primary"],
[data-css-theme="dark"] [data-css-color="primary"] *[data-css-type="success"]:not([data-css-color]) {
  /* Setting dark theme pressed primary colors */
  --css-pressed-background: var(--css-primary-300);
  --css-pressed-border: var(--css-primary-200);
  --css-pressed-text: var(--css-primary-900);
}

[data-css-theme="dark"] *[data-css-type="success"][data-css-color="accent"],
[data-css-theme="dark"] [data-css-color="accent"] *[data-css-type="success"]:not([data-css-color]) {
  /* Setting dark theme pressed accent colors */
  --css-pressed-background: var(--css-accent-300);
  --css-pressed-border: var(--css-accent-200);
  --css-pressed-text: var(--css-accent-900);
}

[data-css-theme="dark"] *[data-css-type="warning"]:not([data-css-color]),
[data-css-theme="dark"] *[data-css-type="warning"][data-css-color="primary"],
[data-css-theme="dark"] [data-css-color="primary"] *[data-css-type="warning"]:not([data-css-color]) {
  /* Setting dark theme normal primary colors */
  --css-normal-background: var(--css-primary-500);
  --css-normal-border: var(--css-primary-400);
  --css-normal-text: var(--css-black);
}

[data-css-theme="dark"] *[data-css-type="warning"][data-css-color="accent"],
[data-css-theme="dark"] [data-css-color="accent"] *[data-css-type="warning"]:not([data-css-color]) {
  /* Setting dark theme normal accent colors */
  --css-normal-background: var(--css-accent-500);
  --css-normal-border: var(--css-accent-400);
  --css-normal-text: var(--css-black);
}

[data-css-theme="dark"] *[data-css-type="warning"]:not([data-css-color]),
[data-css-theme="dark"] *[data-css-type="warning"][data-css-color="primary"],
[data-css-theme="dark"] [data-css-color="primary"] *[data-css-type="warning"]:not([data-css-color]) {
  /* Setting dark theme selected primary colors */
  --css-selected-background: var(--css-primary-100);
  --css-selected-border: var(--css-primary-50);
  --css-selected-text: var(--css-primary-900);
}

[data-css-theme="dark"] *[data-css-type="warning"][data-css-color="accent"],
[data-css-theme="dark"] [data-css-color="accent"] *[data-css-type="warning"]:not([data-css-color]) {
  /* Setting dark theme selected accent colors */
  --css-selected-background: var(--css-accent-100);
  --css-selected-border: var(--css-accent-50);
  --css-selected-text: var(--css-accent-900);
}

[data-css-theme="dark"] *[data-css-type="warning"]:not([data-css-color]),
[data-css-theme="dark"] *[data-css-type="warning"][data-css-color="primary"],
[data-css-theme="dark"] [data-css-color="primary"] *[data-css-type="warning"]:not([data-css-color]) {
  /* Setting dark theme pressed primary colors */
  --css-pressed-background: var(--css-white);
  --css-pressed-border: var(--css-primary-200);
  --css-pressed-text: var(--css-black);
}

[data-css-theme="dark"] *[data-css-type="warning"][data-css-color="accent"],
[data-css-theme="dark"] [data-css-color="accent"] *[data-css-type="warning"]:not([data-css-color]) {
  /* Setting dark theme pressed accent colors */
  --css-pressed-background: var(--css-white);
  --css-pressed-border: var(--css-accent-200);
  --css-pressed-text: var(--css-black);
}

[data-css-theme="dark"] *[data-css-type="error"]:not([data-css-color]),
[data-css-theme="dark"] *[data-css-type="error"][data-css-color="primary"],
[data-css-theme="dark"] [data-css-color="primary"] *[data-css-type="error"]:not([data-css-color]) {
  /* Setting dark theme normal primary colors */
  --css-normal-background: var(--css-primary-200);
  --css-normal-border: var(--css-primary-50);
  --css-normal-text: var(--css-primary-900);
}

[data-css-theme="dark"] *[data-css-type="error"][data-css-color="accent"],
[data-css-theme="dark"] [data-css-color="accent"] *[data-css-type="error"]:not([data-css-color]) {
  /* Setting dark theme normal accent colors */
  --css-normal-background: var(--css-accent-200);
  --css-normal-border: var(--css-accent-50);
  --css-normal-text: var(--css-accent-900);
}

[data-css-theme="dark"] *[data-css-type="error"]:not([data-css-color]),
[data-css-theme="dark"] *[data-css-type="error"][data-css-color="primary"],
[data-css-theme="dark"] [data-css-color="primary"] *[data-css-type="error"]:not([data-css-color]) {
  /* Setting dark theme selected primary colors */
  --css-selected-background: var(--css-white);
  --css-selected-border: var(--css-primary-100);
  --css-selected-text: var(--css-black);
}

[data-css-theme="dark"] *[data-css-type="error"][data-css-color="accent"],
[data-css-theme="dark"] [data-css-color="accent"] *[data-css-type="error"]:not([data-css-color]) {
  /* Setting dark theme selected accent colors */
  --css-selected-background: var(--css-white);
  --css-selected-border: var(--css-accent-100);
  --css-selected-text: var(--css-black);
}

[data-css-theme="dark"] *[data-css-type="error"]:not([data-css-color]),
[data-css-theme="dark"] *[data-css-type="error"][data-css-color="primary"],
[data-css-theme="dark"] [data-css-color="primary"] *[data-css-type="error"]:not([data-css-color]) {
  /* Setting dark theme pressed primary colors */
  --css-pressed-background: var(--css-primary-100);
  --css-pressed-border: var(--css-primary-300);
  --css-pressed-text: var(--css-black);
}

[data-css-theme="dark"] *[data-css-type="error"][data-css-color="accent"],
[data-css-theme="dark"] [data-css-color="accent"] *[data-css-type="error"]:not([data-css-color]) {
  /* Setting dark theme pressed accent colors */
  --css-pressed-background: var(--css-accent-100);
  --css-pressed-border: var(--css-accent-300);
  --css-pressed-text: var(--css-black);
}

body[data-css-theme="dark"] {
  background: var(--css-primary-900);
  color: var(--css-primary-100);
}

[data-css-theme="dark"] h1:not([data-css-color]),
[data-css-theme="dark"] h1[data-css-color="primary"],
[data-css-theme="dark"] [data-css-color="primary"] h1:not([data-css-color]), [data-css-theme="dark"] h2:not([data-css-color]),
[data-css-theme="dark"] h2[data-css-color="primary"],
[data-css-theme="dark"] [data-css-color="primary"] h2:not([data-css-color]), [data-css-theme="dark"]
[data-css-role="heading"]:not([data-css-color]),
[data-css-theme="dark"]
[data-css-role="heading"][data-css-color="primary"],
[data-css-theme="dark"] [data-css-color="primary"]
[data-css-role="heading"]:not([data-css-color]), [data-css-theme="dark"]
[role="heading"]:not([data-css-color]),
[data-css-theme="dark"]
[role="heading"][data-css-color="primary"],
[data-css-theme="dark"] [data-css-color="primary"]
[role="heading"]:not([data-css-color]) {
  /* Setting dark theme normal primary colors */
  --css-normal-text: var(--css-primary-300);
}

[data-css-theme="dark"] h1[data-css-color="accent"],
[data-css-theme="dark"] [data-css-color="accent"] h1:not([data-css-color]), [data-css-theme="dark"] h2[data-css-color="accent"],
[data-css-theme="dark"] [data-css-color="accent"] h2:not([data-css-color]), [data-css-theme="dark"]
[data-css-role="heading"][data-css-color="accent"],
[data-css-theme="dark"] [data-css-color="accent"]
[data-css-role="heading"]:not([data-css-color]), [data-css-theme="dark"]
[role="heading"][data-css-color="accent"],
[data-css-theme="dark"] [data-css-color="accent"]
[role="heading"]:not([data-css-color]) {
  /* Setting dark theme normal accent colors */
  --css-normal-text: var(--css-accent-300);
}

[data-css-theme="dark"] h3:not([data-css-color]),
[data-css-theme="dark"] h3[data-css-color="primary"],
[data-css-theme="dark"] [data-css-color="primary"] h3:not([data-css-color]), [data-css-theme="dark"] h4:not([data-css-color]),
[data-css-theme="dark"] h4[data-css-color="primary"],
[data-css-theme="dark"] [data-css-color="primary"] h4:not([data-css-color]), [data-css-theme="dark"] h5:not([data-css-color]),
[data-css-theme="dark"] h5[data-css-color="primary"],
[data-css-theme="dark"] [data-css-color="primary"] h5:not([data-css-color]), [data-css-theme="dark"] h6:not([data-css-color]),
[data-css-theme="dark"] h6[data-css-color="primary"],
[data-css-theme="dark"] [data-css-color="primary"] h6:not([data-css-color]) {
  /* Setting dark theme normal primary colors */
  --css-normal-text: var(--css-primary-200);
}

[data-css-theme="dark"] h3[data-css-color="accent"],
[data-css-theme="dark"] [data-css-color="accent"] h3:not([data-css-color]), [data-css-theme="dark"] h4[data-css-color="accent"],
[data-css-theme="dark"] [data-css-color="accent"] h4:not([data-css-color]), [data-css-theme="dark"] h5[data-css-color="accent"],
[data-css-theme="dark"] [data-css-color="accent"] h5:not([data-css-color]), [data-css-theme="dark"] h6[data-css-color="accent"],
[data-css-theme="dark"] [data-css-color="accent"] h6:not([data-css-color]) {
  /* Setting dark theme normal accent colors */
  --css-normal-text: var(--css-accent-200);
}

/* Basic styles */
html,
body {
  display: block;
  min-height: 100%;
  position: relative;
  margin: 0;
  min-width: 100%;
  z-index: 1;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 14px;
}

[role],
[data-css-role] {
  position: relative;
}

[data-css-color] {
  color: var(--css-normal-text);
}

/* Hidden items */
[hidden] {
  display: none;
}

/* Headers */
h1, h2, h3, h4, h5, h6,
[data-css-role="heading"]
[role="heading"] {
  color: var(--css-normal-text);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 1.875rem;
  text-decoration: none;
}

h1 {
  font-size: 2.617rem;
}

h2 {
  font-size: 2.292rem;
}

h3 {
  font-size: 1.969em;
}

h4 {
  font-size: 1.646em;
}

h5 {
  font-size: 1.323em;
}

/* Floats and clears */
[data-css-float="left"] {
  float: left;
}

[data-css-float="right"] {
  float: right;
}

[data-css-clear="left"] {
  clear: left;
}

[data-css-clear="right"] {
  clear: right;
}

[data-css-clear="both"] {
  clear: both;
}

/* Positioning */
[data-css-position="absolute"] {
  position: absolute;
}

[data-css-position="fixed"] {
  position: fixed;
}

[data-css-position="relative"] {
  position: relative;
}

[data-css-position="static"] {
  position: static;
}

[data-css-position="sticky"] {
  position: -webkit-sticky;
  position: sticky;
}

/* Text formatting */
[data-css-bold] {
  font-weight: bold;
}

[data-css-italic] {
  font-style: italic;
}

[data-css-line-through] {
  text-decoration: line-through;
}

[data-css-oblique] {
  font-style: oblique;
}

[data-css-overline] {
  text-decoration: overline;
}

[data-css-underline] {
  text-decoration: underline;
}

i[data-css-icon] {
  color: inherit;
  font-style: normal;
}

[data-css-icon]::before {
  color: inherit;
  display: inline-block;
  line-height: 1em;
  min-height: 1em;
  min-width: 1em;
  text-align: center;
}

[data-css-icon]:not([data-css-icon=""])::before {
  content: attr(data-css-icon);
}

[data-css-icon=""][data-css-type="info"]::before {
  content: '\2139';
  border: 1px solid;
  border-radius: 50%;
  position: relative;
}

[data-css-icon=""][data-css-type="success"]::before {
  content: '\2714';
  border: 1px solid;
  border-radius: 50%;
}

[data-css-icon=""][data-css-type="warning"]::before {
  content: '\26a0';
}

[data-css-icon=""][data-css-type="error"]::before {
  content: '\FF01';
  margin-left: -0.5em;
  position: relative;
  left: .5em;
}
/*# sourceMappingURL=core.css.map */