[role="alertdialog"][id],
[role="dialog"][id] {
  border: 1px solid;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1rem;
  position: fixed;
  left: 50%;
  min-height: 9em;
  min-width: 16em;
  overflow: visible;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 100vh;
  -webkit-transition: opacity 0.3s, top 0.3s, visibility 0.1s 0.3s;
  transition: opacity 0.3s, top 0.3s, visibility 0.1s 0.3s;
  visibility: hidden;
}

[data-css-theme="light"] [role="alertdialog"][id]:not([data-css-color]),
[data-css-theme="light"] [role="alertdialog"][id][data-css-color="primary"],
[data-css-theme="light"] [data-css-color="primary"] [role="alertdialog"][id]:not([data-css-color]), [data-css-theme="light"]
[role="dialog"][id]:not([data-css-color]),
[data-css-theme="light"]
[role="dialog"][id][data-css-color="primary"],
[data-css-theme="light"] [data-css-color="primary"]
[role="dialog"][id]:not([data-css-color]) {
  /* Getting light theme normal primary colors */
  background-color: var(--css-normal-background);
  border-color: var(--css-normal-border);
  color: var(--css-normal-text);
}

:not([data-css-theme]) [role="alertdialog"][id]:not([data-css-color]),
:not([data-css-theme]) [role="alertdialog"][id][data-css-color="primary"],
:not([data-css-theme]) [data-css-color="primary"] [role="alertdialog"][id]:not([data-css-color]), :not([data-css-theme])
[role="dialog"][id]:not([data-css-color]),
:not([data-css-theme])
[role="dialog"][id][data-css-color="primary"],
:not([data-css-theme]) [data-css-color="primary"]
[role="dialog"][id]:not([data-css-color]) {
  /* Getting light theme normal primary colors */
  background-color: var(--css-normal-background);
  border-color: var(--css-normal-border);
  color: var(--css-normal-text);
}

[data-css-theme="light"] [role="alertdialog"][id][data-css-color="accent"],
[data-css-theme="light"] [data-css-color="accent"] [role="alertdialog"][id]:not([data-css-color]), [data-css-theme="light"]
[role="dialog"][id][data-css-color="accent"],
[data-css-theme="light"] [data-css-color="accent"]
[role="dialog"][id]:not([data-css-color]) {
  /* Getting light theme normal accent colors */
  background-color: var(--css-normal-background);
  border-color: var(--css-normal-border);
  color: var(--css-normal-text);
}

:not([data-css-theme]) [role="alertdialog"][id][data-css-color="accent"],
:not([data-css-theme]) [data-css-color="accent"] [role="alertdialog"][id]:not([data-css-color]), :not([data-css-theme])
[role="dialog"][id][data-css-color="accent"],
:not([data-css-theme]) [data-css-color="accent"]
[role="dialog"][id]:not([data-css-color]) {
  /* Getting light theme normal accent colors */
  background-color: var(--css-normal-background);
  border-color: var(--css-normal-border);
  color: var(--css-normal-text);
}

[role="alertdialog"][id]::before,
[role="dialog"][id]::before {
  background-color: var(--css-normal-background);
  bottom: -50vh;
  content: ' ';
  display: none;
  left: -50vw;
  opacity: 0.5;
  position: fixed;
  right: -50vw;
  top: -50vh;
}

[role="alertdialog"][id] > *,
[role="dialog"][id] > * {
  background: var(--css-primary-50);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  padding: 0.5em;
  position: relative;
  z-index: 10;
}

[role="alertdialog"][id] > [role="heading"],
[role="alertdialog"][id] > [data-css-role="heading"],
[role="dialog"][id] > [role="heading"],
[role="dialog"][id] > [data-css-role="heading"] {
  border-bottom: 1px solid;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  font-size: 1em;
  line-height: 1em;
  margin: 0;
}

[data-css-theme="light"] [role="alertdialog"][id] > [role="heading"]:not([data-css-color]),
[data-css-theme="light"] [role="alertdialog"][id] > [role="heading"][data-css-color="primary"],
[data-css-theme="light"] [data-css-color="primary"] [role="alertdialog"][id] > [role="heading"]:not([data-css-color]), [data-css-theme="light"]
[role="alertdialog"][id] > [data-css-role="heading"]:not([data-css-color]),
[data-css-theme="light"]
[role="alertdialog"][id] > [data-css-role="heading"][data-css-color="primary"],
[data-css-theme="light"] [data-css-color="primary"]
[role="alertdialog"][id] > [data-css-role="heading"]:not([data-css-color]), [data-css-theme="light"]
[role="dialog"][id] > [role="heading"]:not([data-css-color]),
[data-css-theme="light"]
[role="dialog"][id] > [role="heading"][data-css-color="primary"],
[data-css-theme="light"] [data-css-color="primary"]
[role="dialog"][id] > [role="heading"]:not([data-css-color]), [data-css-theme="light"]
[role="dialog"][id] > [data-css-role="heading"]:not([data-css-color]),
[data-css-theme="light"]
[role="dialog"][id] > [data-css-role="heading"][data-css-color="primary"],
[data-css-theme="light"] [data-css-color="primary"]
[role="dialog"][id] > [data-css-role="heading"]:not([data-css-color]) {
  /* Getting light theme selected primary colors */
  background-color: var(--css-selected-background);
  border-color: var(--css-selected-border);
  color: var(--css-selected-text);
}

:not([data-css-theme]) [role="alertdialog"][id] > [role="heading"]:not([data-css-color]),
:not([data-css-theme]) [role="alertdialog"][id] > [role="heading"][data-css-color="primary"],
:not([data-css-theme]) [data-css-color="primary"] [role="alertdialog"][id] > [role="heading"]:not([data-css-color]), :not([data-css-theme])
[role="alertdialog"][id] > [data-css-role="heading"]:not([data-css-color]),
:not([data-css-theme])
[role="alertdialog"][id] > [data-css-role="heading"][data-css-color="primary"],
:not([data-css-theme]) [data-css-color="primary"]
[role="alertdialog"][id] > [data-css-role="heading"]:not([data-css-color]), :not([data-css-theme])
[role="dialog"][id] > [role="heading"]:not([data-css-color]),
:not([data-css-theme])
[role="dialog"][id] > [role="heading"][data-css-color="primary"],
:not([data-css-theme]) [data-css-color="primary"]
[role="dialog"][id] > [role="heading"]:not([data-css-color]), :not([data-css-theme])
[role="dialog"][id] > [data-css-role="heading"]:not([data-css-color]),
:not([data-css-theme])
[role="dialog"][id] > [data-css-role="heading"][data-css-color="primary"],
:not([data-css-theme]) [data-css-color="primary"]
[role="dialog"][id] > [data-css-role="heading"]:not([data-css-color]) {
  /* Getting light theme selected primary colors */
  background-color: var(--css-selected-background);
  border-color: var(--css-selected-border);
  color: var(--css-selected-text);
}

[data-css-theme="light"] [role="alertdialog"][id] > [role="heading"][data-css-color="accent"],
[data-css-theme="light"] [data-css-color="accent"] [role="alertdialog"][id] > [role="heading"]:not([data-css-color]), [data-css-theme="light"]
[role="alertdialog"][id] > [data-css-role="heading"][data-css-color="accent"],
[data-css-theme="light"] [data-css-color="accent"]
[role="alertdialog"][id] > [data-css-role="heading"]:not([data-css-color]), [data-css-theme="light"]
[role="dialog"][id] > [role="heading"][data-css-color="accent"],
[data-css-theme="light"] [data-css-color="accent"]
[role="dialog"][id] > [role="heading"]:not([data-css-color]), [data-css-theme="light"]
[role="dialog"][id] > [data-css-role="heading"][data-css-color="accent"],
[data-css-theme="light"] [data-css-color="accent"]
[role="dialog"][id] > [data-css-role="heading"]:not([data-css-color]) {
  /* Getting light theme selected accent colors */
  background-color: var(--css-selected-background);
  border-color: var(--css-selected-border);
  color: var(--css-selected-text);
}

:not([data-css-theme]) [role="alertdialog"][id] > [role="heading"][data-css-color="accent"],
:not([data-css-theme]) [data-css-color="accent"] [role="alertdialog"][id] > [role="heading"]:not([data-css-color]), :not([data-css-theme])
[role="alertdialog"][id] > [data-css-role="heading"][data-css-color="accent"],
:not([data-css-theme]) [data-css-color="accent"]
[role="alertdialog"][id] > [data-css-role="heading"]:not([data-css-color]), :not([data-css-theme])
[role="dialog"][id] > [role="heading"][data-css-color="accent"],
:not([data-css-theme]) [data-css-color="accent"]
[role="dialog"][id] > [role="heading"]:not([data-css-color]), :not([data-css-theme])
[role="dialog"][id] > [data-css-role="heading"][data-css-color="accent"],
:not([data-css-theme]) [data-css-color="accent"]
[role="dialog"][id] > [data-css-role="heading"]:not([data-css-color]) {
  /* Getting light theme selected accent colors */
  background-color: var(--css-selected-background);
  border-color: var(--css-selected-border);
  color: var(--css-selected-text);
}

[role="alertdialog"][id] > [role="heading"] [data-css-close],
[role="alertdialog"][id] > [data-css-role="heading"] [data-css-close],
[role="dialog"][id] > [role="heading"] [data-css-close],
[role="dialog"][id] > [data-css-role="heading"] [data-css-close] {
  float: right;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

[role="alertdialog"][id] > [role="heading"] + *,
[role="alertdialog"][id] > [data-css-role="heading"] + *,
[role="dialog"][id] > [role="heading"] + *,
[role="dialog"][id] > [data-css-role="heading"] + * {
  overflow: auto;
}

[role="alertdialog"][id]:target,
[role="dialog"][id]:target {
  opacity: 1;
  top: 50%;
  -webkit-transition: opacity 0.3s, top 0.3s;
  transition: opacity 0.3s, top 0.3s;
  visibility: visible;
  z-index: 10;
}

[role="alertdialog"][id][data-css-size="small"],
[role="dialog"][id][data-css-size="small"] {
  height: 9em;
  max-height: calc(33% - 2em);
  max-width: calc(33% - 2em);
  width: 16em;
}

[role="alertdialog"][id]:not([data-css-size]), [role="alertdialog"][id][data-css-size="medium"],
[role="dialog"][id]:not([data-css-size]),
[role="dialog"][id][data-css-size="medium"] {
  height: 18em;
  max-height: calc(50% - 2em);
  max-width: calc(50% - 2em);
  width: 43em;
}

[role="alertdialog"][id][data-css-size="big"],
[role="dialog"][id][data-css-size="big"] {
  height: 27em;
  max-height: calc(75% - 2em);
  max-width: calc(75% - 2em);
  width: 48em;
}

[role="alertdialog"][id][data-css-size="huge"],
[role="dialog"][id][data-css-size="huge"] {
  height: 36em;
  max-height: calc(100% - 2em);
  max-width: calc(100% - 2em);
  width: 64em;
}

[role="alertdialog"][id][data-css-size="full"],
[role="dialog"][id][data-css-size="full"] {
  height: calc(100% - 2em);
  max-height: calc(100% - 2em);
  max-width: calc(100% - 2em);
  width: calc(100% - 2em);
}

[data-css-theme="light"] [role="alertdialog"][id]:not([data-css-color])::before,
[data-css-theme="light"] [role="alertdialog"][id][data-css-color="primary"]::before,
[data-css-theme="light"] [data-css-color="primary"] [role="alertdialog"][id]:not([data-css-color])::before, [data-css-theme="light"]
[role="dialog"][id]:not([data-css-color])::before,
[data-css-theme="light"]
[role="dialog"][id][data-css-color="primary"]::before,
[data-css-theme="light"] [data-css-color="primary"]
[role="dialog"][id]:not([data-css-color])::before {
  /* Setting light theme normal primary colors */
  --css-normal-background: var(--css-primary-900);
}

:not([data-css-theme]) [role="alertdialog"][id]:not([data-css-color])::before,
:not([data-css-theme]) [role="alertdialog"][id][data-css-color="primary"]::before,
:not([data-css-theme]) [data-css-color="primary"] [role="alertdialog"][id]:not([data-css-color])::before, :not([data-css-theme])
[role="dialog"][id]:not([data-css-color])::before,
:not([data-css-theme])
[role="dialog"][id][data-css-color="primary"]::before,
:not([data-css-theme]) [data-css-color="primary"]
[role="dialog"][id]:not([data-css-color])::before {
  /* Setting light theme normal primary colors */
  --css-normal-background: var(--css-primary-900);
}

[data-css-theme="light"] [role="alertdialog"][id][data-css-color="accent"]::before,
[data-css-theme="light"] [data-css-color="accent"] [role="alertdialog"][id]:not([data-css-color])::before, [data-css-theme="light"]
[role="dialog"][id][data-css-color="accent"]::before,
[data-css-theme="light"] [data-css-color="accent"]
[role="dialog"][id]:not([data-css-color])::before {
  /* Setting light theme normal accent colors */
  --css-normal-background: var(--css-accent-900);
}

:not([data-css-theme]) [role="alertdialog"][id][data-css-color="accent"]::before,
:not([data-css-theme]) [data-css-color="accent"] [role="alertdialog"][id]:not([data-css-color])::before, :not([data-css-theme])
[role="dialog"][id][data-css-color="accent"]::before,
:not([data-css-theme]) [data-css-color="accent"]
[role="dialog"][id]:not([data-css-color])::before {
  /* Setting light theme normal accent colors */
  --css-normal-background: var(--css-accent-900);
}

[role="alertdialog"][id]:target::before,
[role="dialog"][data-css-modal]:target::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=dialog.css.map */