/* Basic Component rules */
[role="radio"],
[data-css-role="radio"] 
{
    display: inline-block;
    overflow: hidden;
    position: relative;
}

[data-css-role="radio"] > input[type="radio"] 
{
    display: none;
}



/* Button rules */
[role="radio"] > [data-css-mark]::before,
[data-css-role="radio"] > [data-css-mark]::before,
[data-css-role="radio"][data-css-state="normal"] > [data-css-mark]::before
{
    background: var(--css-primary-500);
    border: 2px solid var(--css-primary-900);
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: 2em;
    line-height: 1.75em;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 2em;
}
[role="radio"][data-css-accent] > [data-css-mark]::before,
[role="radio"][data-css-accent][data-css-state="normal"] > [data-css-mark]::before,
[data-css-role="radio"][data-css-accent] > [data-css-mark]::before,
[data-css-role="radio"][data-css-accent][data-css-state="normal"] > [data-css-mark]::before
{
    background-color: var(--css-accent-500);
    border-color: var(--css-accent-900);
}

[role="radio"] > [data-css-mark]:hover::before,
[data-css-role="radio"] > [data-css-mark]:hover::before
{
    background: var(--css-primary-500);
    border-color: var(--css-primary-700);
}
[role="radio"][data-css-accent] > [data-css-mark]:hover::before,
[data-css-role="radio"][data-css-accent] > [data-css-mark]:hover::before
{
    background: var(--css-accent-400);
    border-color: var(--css-accent-700);
}

[role="radio"] > [data-css-mark]:active::before,
[data-css-role="radio"] > [data-css-mark]:active::before
{
    background: var(--css-primary-800);
    border-color: var(--css-primary-900);
}
[role="radio"][data-css-accent] > [data-css-mark]:active::before,
[data-css-role="radio"][data-css-accent] > [data-css-mark]:active::before
{
    background: var(--css-accent-800);
    border-color: var(--css-accent-900);
}

[data-css-role="radio"]> input[type="radio"]:disabled+[data-css-mark]::before
{
    background: var(--css-primary-50);
    border-color: var(--css-primary-500);
}
[data-css-role="radio"][data-css-accent] > input[type="radio"]:disabled+[data-css-mark]::before
{
    background: var(--css-accent-50);
    border-color: var(--css-accent-500);
}



/* Tick Rules */

[role="radio"] > [data-css-mark]::after,
[data-css-role="radio"] > [data-css-mark]::after
{
    content: '\2b24';
    border: 2px solid transparent;
    display: inline-block;
    font-size: 1.25em;
    font-weight:  bolder;
    height: 1.525em;
    left: 0;
    line-height: 4.5em;
    opacity: 0;
    position: absolute;
    top: 1px;
    transition: 200ms opacity, 200ms line-height;
    vertical-align: top;
    text-align: center;
    width: 1.525em;
}
[role="radio"][data-css-accent] > [data-css-mark]::after,
[role="radio"] > [data-css-mark][data-css-accent]::after,
[data-css-role="radio"][data-css-accent] > [data-css-mark]::after,
[data-css-role="radio"] > [data-css-mark][data-css-accent]::after
{
    color: var(--css-accent-900);
}
[role="radio"] > [data-css-mark]::after,
[role="radio"] > [data-css-mark][data-css-primary]::after,
[data-css-role="radio"] > [data-css-mark]::after,
[data-css-role="radio"] > [data-css-mark][data-css-primary]::after
{
    color: var(--css-primary-900);
}

[role="radio"][data-css-accent] > [data-css-mark]:hover::after,
[role="radio"] > [data-css-mark][data-css-accent]:hover::after,
[data-css-role="radio"][data-css-accent] > [data-css-mark]:hover::after,
[data-css-role="radio"] > [data-css-mark][data-css-accent]:hover::after
{
    color: var(--css-accent-700);
}
[role="radio"] > [data-css-mark]:hover::after,
[role="radio"] > [data-css-mark][data-css-primary]:hover::after,
[data-css-role="radio"] > [data-css-mark]:hover::after,
[data-css-role="radio"] > [data-css-mark][data-css-primary]:hover::after
{
    color: var(--css-primary-700);
}

[role="radio"][data-css-accent] > [data-css-mark]:active::after,
[role="radio"] > [data-css-mark][data-css-accent]:active::after,
[data-css-role="radio"][data-css-accent] > [data-css-mark]:active::after,
[data-css-role="radio"] > [data-css-mark][data-css-accent]:active::after
{
    color: var(--css-accent-900);
}
[role="radio"] > [data-css-mark]:active::after,
[role="radio"] > [data-css-mark][data-css-primary]:active::after,
[data-css-role="radio"] > [data-css-mark]:active::after,
[data-css-role="radio"] > [data-css-mark][data-css-primary]:active::after
{
    color: var(--css-primary-900);
}

[role="radio"][aria-checked="true"] > [data-css-mark]::after,
[data-css-role="radio"] > input[type="radio"]:checked+[data-css-mark]::after
{
    opacity: 1;
    line-height: 1.5em;
}

[data-css-role="radio"][data-css-accent] > input[type="radio"]:disabled+[data-css-mark]::after,
[data-css-role="radio"] > input[type="radio"]:disabled+[data-css-mark][data-css-accent]::after
{
    color: var(--css-accent-400);
}
[data-css-role="radio"] > input[type="radio"]:disabled+[data-css-mark]::after,
[data-css-role="radio"] > input[type="radio"]:disabled+[data-css-mark][data-css-primary]::after
{
    color: var(--css-primary-400);
}


/* Sizes */
[role="radio"][data-css-size="small"] > [data-css-mark]::before,
[data-css-role="radio"][data-css-size="small"] > [data-css-mark]::before
{
    height: 1.5em;
    width: 1.5em;
}
[role="radio"][data-css-size="small"] > [data-css-mark]::after,
[data-css-role="radio"][data-css-size="small"] > [data-css-mark]::after
{
    line-height: 3.75em;
    font-size: 1em;
}

[role="radio"][aria-checked="true"][data-css-size="small"] > [data-css-mark]::after,
[data-css-role="radio"][data-css-size="small"] > input[type="radio"]:checked+[data-css-mark]::after
{
    line-height: 1.35em;
}
[role="radio"][data-css-size="small"][aria-checked="true"] > [data-css-mark]::after,
[data-css-role="radio"][data-css-size="small"] > input[type="radio"]:checked+[data-css-mark]::after
{
    position: relative;
    top: -0.125em;
}

[role="radio"][data-css-size="big"],
[data-css-role="radio"][data-css-size="big"] 
{
    font-size: 1.25em;
}
[role="radio"][data-css-size="big"] > [data-css-mark]::before,
[data-css-role="radio"][data-css-size="big"] > [data-css-mark]::before
{
    height: 3em;
    width: 3em;
}
[role="radio"][data-css-size="big"] > [data-css-mark]::after,
[data-css-role="radio"][data-css-size="big"] > [data-css-mark]::after
{
    font-size: 2em;
    line-height: 4em;
}
[role="radio"][data-css-size="big"][aria-checked="false"] > [data-css-mark]::after,
[data-css-role="radio"][data-css-size="big"][aria-checked="false"] > [data-css-mark]::after
{
    line-height: 3.25em;
}

[role="radio"][data-css-size="huge"] > [data-css-mark]::before,
[data-css-role="radio"][data-css-size="huge"] > [data-css-mark]::before,
[role="radio"][data-css-size="full"] > [data-css-mark]::before,
[data-css-role="radio"][data-css-size="full"] > [data-css-mark]::before
{
    height: 4em;
    margin-right: 0.5em;
    width: 4em;
}
[role="radio"][data-css-size="huge"], 
[data-css-role="radio"][data-css-size="huge"] 
{
    font-size: 1.5em;
}
[role="radio"][data-css-size="huge"] > [data-css-mark]::after,
[data-css-role="radio"][data-css-size="huge"] > [data-css-mark]::after
{
    font-size: 2.666em;
    line-height: 3.2em;
}
[role="radio"][data-css-size="huge"][aria-checked="false"] > [data-css-mark]::after,
[data-css-role="radio"][data-css-size="huge"][aria-checked="false"] > [data-css-mark]::after
{
    line-height: 3.35em;
}

[role="radio"][data-css-size="full"] > [data-css-mark],
[data-css-role="radio"][data-css-size="full"] > [data-css-mark]  
{
    height: 3em;
    width: 3em;
}
[role="radio"][data-css-size="full"],
[data-css-role="radio"][data-css-size="full"] 
{
    display: block;
    font-size: 2em;
}
[role="radio"][data-css-size="full"] > [data-css-mark]::after,
[data-css-role="radio"][data-css-size="full"] > [data-css-mark]::after
{
    font-size: 2.666em;
    line-height: 3.2em;
}

/* Big */
[role="radio"][aria-checked="true"][data-css-size="big"] > [data-css-mark]::after,
[data-css-role="radio"][data-css-size="big"] > input[type="radio"]:checked+[data-css-mark]::after,
/* Huge */
[role="radio"][aria-checked="true"][data-css-size="huge"] > [data-css-mark]::after,
[data-css-role="radio"][data-css-size="huge"] > input[type="radio"]:checked+[data-css-mark]::after,
/* Fullsize */
[role="radio"][aria-checked="true"][data-css-size="full"] > [data-css-mark]::after,
[data-css-role="radio"][data-css-size="full"] > input[type="radio"]:checked+[data-css-mark]::after
{
    line-height: 1.5em;
}



/* Forced states */
[data-css-role="radio"][data-css-state="normal"] > [data-css-mark]::before
{
    background: var(--css-primary-600);
    border-color: var(--css-primary-800);
}
[data-css-role="radio"][data-css-accent][data-css-state="normal"] > [data-css-mark]::before
{
    background: var(--css-accent-600);
    border-color: var(--css-accent-800);
}
[data-css-role="radio"][data-css-accent][data-css-state="normal"] > [data-css-mark]::after,
[data-css-role="radio"][data-css-state="normal"] > [data-css-mark][data-css-accent]::after
{
    color: var(--css-accent-800);
}
[data-css-role="radio"][data-css-state="normal"] > [data-css-mark]::after
[data-css-role="radio"][data-css-state="normal"] > [data-css-mark][data-css-primary]::after
{
    color: var(--css-primary-800);
}

[role="radio"][aria-selected] > [data-css-mark]::before,
[data-css-role="radio"][data-css-state="selected"] > [data-css-mark]::before
{
    background: var(--css-primary-400);
    border-color: var(--css-primary-700);
}
[role="radio"][data-css-accent][aria-selected] > [data-css-mark]::before,
[data-css-role="radio"][data-css-accent][data-css-state="selected"] > [data-css-mark]::before
{
    background: var(--css-accent-400);
    border-color: var(--css-accent-700);
}
[role="radio"][aria-selected][data-css-accent] > [data-css-mark]::after,
[role="radio"][aria-selected] > [data-css-mark][data-css-accent]::after,
[data-css-role="radio"][data-css-state="selected"][data-css-accent] > [data-css-mark]::after,
[data-css-role="radio"][data-css-state="selected"] > [data-css-mark][data-css-accent]::after
{
    color: var(--css-accent-800);
}
[role="radio"][aria-selected] > [data-css-mark]::after,
[role="radio"][aria-selected] > [data-css-mark][data-css-primary]::after,
[data-css-role="radio"][data-css-state="selected"] > [data-css-mark]::after,
[data-css-role="radio"][data-css-state="selected"] > [data-css-mark][data-css-primary]::after
{
    color: var(--css-primary-800);
}

[role="radio"][aria-pressed] > [data-css-mark]::before,
[data-css-role="radio"][data-css-state="pressed"] > [data-css-mark]::before
{
    background: var(--css-primary-800);
    border-color: var(--css-primary-900);
}
[role="radio"][data-css-accent][aria-pressed] > [data-css-mark]::before,
[data-css-role="radio"][data-css-accent][data-css-state="pressed"] > [data-css-mark]::before
{
    background: var(--css-accent-800);
    border-color: var(--css-accent-900);
}
[role="radio"][data-css-accent][aria-pressed] > [data-css-mark]::after,
[role="radio"][aria-pressed] > [data-css-mark][data-css-accent]::after,
[data-css-role="radio"][data-css-accent][data-css-state="pressed"] > [data-css-mark]::after,
[data-css-role="radio"][data-css-state="pressed"] > [data-css-mark][data-css-accent]::after
{
    color: var(--css-accent-900);
}
[role="radio"][aria-pressed] > [data-css-mark]::after,
[role="radio"][aria-pressed] > [data-css-mark][data-css-primary]::after,
[data-css-role="radio"][data-css-state="pressed"] > [data-css-mark]::after,
[data-css-role="radio"][data-css-state="pressed"] > [data-css-mark][data-css-primary]::after
{
    color: var(--css-primary-900);
}

[role="radio"][aria-disabled] > [data-css-mark]::before,
[data-css-role="radio"][data-css-state="disabled"] > [data-css-mark]::before
{
    background: var(--css-primary-50);
    border-color: var(--css-primary-500);
}
[role="radio"][data-css-accent][aria-disabled] > [data-css-mark]::before,
[data-css-role="radio"][data-css-accent][data-css-state="disabled"] > [data-css-mark]::before
{
    background: var(--css-accent-50);
    border-color: var(--css-accent-500);
}
[role="radio"][aria-disabled][data-css-accent] > [data-css-mark]::after,
[role="radio"][aria-disabled] > [data-css-mark][data-css-accent]::after,
[data-css-role="radio"][data-css-state="disabled"][data-css-accent] > [data-css-mark]::after,
[data-css-role="radio"][data-css-state="disabled"][aria-disabled] > [data-css-mark][data-css-accent]::after
{
    color: var(--css-accent-400);
}
[role="radio"][aria-disabled] > [data-css-mark]::after,
[role="radio"][aria-disabled] > [data-css-mark][data-css-primary]::after,
[data-css-role="radio"][data-css-state="disabled"] > [data-css-mark]::after,
[data-css-role="radio"][data-css-state="disabled"] > [data-css-mark][data-css-primary]::after
{
    color: var(--css-primary-400);
}