[data-css-group="tooltip"],
[data-css-group="tooltip"] {
  /* Basic group rules */
  position: relative;
}

[data-css-group="tooltip"] > [role="tooltip"],
[data-css-group="tooltip"] > [data-css-role="tooltip"],
[data-css-group="tooltip"] > [role="tooltip"],
[data-css-group="tooltip"] > [data-css-role="tooltip"] {
  /* Basic Component rules */
  border: 1px solid;
  border-radius: 0.5em;
  display: block;
  left: 50%;
  height: fit-content;
  opacity: 0;
  padding: 0.5em;
  position: absolute;
  top: 0;
  text-transform: none;
  transition: opacity 0.5s, transform 0.5s, top 0.5s;
  transform: translateY(0%) translateX(-50%);
  width: fit-content;
  z-index: 1;
  background-color: var(--css-normal-background);
  border-color: var(--css-normal-border);
  color: var(--css-normal-text);
}

[data-css-group="tooltip"] > [role="tooltip"]::before,
[data-css-group="tooltip"] > [data-css-role="tooltip"]::before,
[data-css-group="tooltip"] > [role="tooltip"]::before,
[data-css-group="tooltip"] > [data-css-role="tooltip"]::before {
  /* Arrow */
  border: 1px solid;
  bottom: -1em;
  bottom: calc(-1em + 2px);
  content: "";
  display: none;
  height: 1em;
  left: 50%;
  position: absolute;
  transform: rotate(45deg) translateX(-50%);
  width: 1em;
  background-color: var(--css-normal-background);
  border-color: var(--css-normal-border);
  color: var(--css-normal-text);
}

[data-css-group="tooltip"] > [role="tooltip"]:not([data-css-side])::before, [data-css-group="tooltip"] > [role="tooltip"][data-css-side="top"]::before,
[data-css-group="tooltip"] > [data-css-role="tooltip"]:not([data-css-side])::before,
[data-css-group="tooltip"] > [data-css-role="tooltip"][data-css-side="top"]::before,
[data-css-group="tooltip"] > [role="tooltip"]:not([data-css-side])::before,
[data-css-group="tooltip"] > [role="tooltip"][data-css-side="top"]::before,
[data-css-group="tooltip"] > [data-css-role="tooltip"]:not([data-css-side])::before,
[data-css-group="tooltip"] > [data-css-role="tooltip"][data-css-side="top"]::before {
  /* Top position Arrow */
  border-top: none;
  border-left: none;
}

[data-css-group="tooltip"] > [role="tooltip"]::after,
[data-css-group="tooltip"] > [data-css-role="tooltip"]::after,
[data-css-group="tooltip"] > [role="tooltip"]::after,
[data-css-group="tooltip"] > [data-css-role="tooltip"]::after {
  /* Transparent hoverable area */
  background: transparent;
  display: none;
  bottom: -1em;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

[data-css-group="tooltip"] > [role="tooltip"][data-css-side="right"],
[data-css-group="tooltip"] > [data-css-role="tooltip"][data-css-side="right"],
[data-css-group="tooltip"] > [role="tooltip"][data-css-side="right"],
[data-css-group="tooltip"] > [data-css-role="tooltip"][data-css-side="right"] {
  /* Right side tooltip */
  left: 0;
  top: 50%;
  bottom: initial;
  transform: translateY(-50%) translateX(0);
}

[data-css-group="tooltip"] > [role="tooltip"][data-css-side="bottom"],
[data-css-group="tooltip"] > [data-css-role="tooltip"][data-css-side="bottom"],
[data-css-group="tooltip"] > [role="tooltip"][data-css-side="bottom"],
[data-css-group="tooltip"] > [data-css-role="tooltip"][data-css-side="bottom"] {
  /* Bottom side tooltip */
  bottom: 0;
  top: 0;
  transform: translateY(0%) translateX(-50%);
}

[data-css-group="tooltip"] > [role="tooltip"][data-css-side="left"],
[data-css-group="tooltip"] > [data-css-role="tooltip"][data-css-side="left"],
[data-css-group="tooltip"] > [role="tooltip"][data-css-side="left"],
[data-css-group="tooltip"] > [data-css-role="tooltip"][data-css-side="left"] {
  /* Left side tooltip */
  left: inherit;
  right: 0;
  top: 50%;
  bottom: initial;
  transform: translateY(-50%) translateX(0);
}

[data-css-group="tooltip"]:hover > [role="tooltip"],
[data-css-group="tooltip"]:hover > [data-css-role="tooltip"], [data-css-group="tooltip"]:focus > [role="tooltip"],
[data-css-group="tooltip"]:focus > [data-css-role="tooltip"],
[data-css-group="tooltip"]:hover > [role="tooltip"],
[data-css-group="tooltip"]:hover > [data-css-role="tooltip"],
[data-css-group="tooltip"]:focus > [role="tooltip"],
[data-css-group="tooltip"]:focus > [data-css-role="tooltip"] {
  opacity: 1;
  transform: translateY(-100%) translateX(-50%) translateZ(10em);
  top: -0.75em;
}

[data-css-group="tooltip"]:hover > [role="tooltip"]::after, [data-css-group="tooltip"]:hover > [role="tooltip"]::before,
[data-css-group="tooltip"]:hover > [data-css-role="tooltip"]::after,
[data-css-group="tooltip"]:hover > [data-css-role="tooltip"]::before, [data-css-group="tooltip"]:focus > [role="tooltip"]::after, [data-css-group="tooltip"]:focus > [role="tooltip"]::before,
[data-css-group="tooltip"]:focus > [data-css-role="tooltip"]::after,
[data-css-group="tooltip"]:focus > [data-css-role="tooltip"]::before,
[data-css-group="tooltip"]:hover > [role="tooltip"]::after,
[data-css-group="tooltip"]:hover > [role="tooltip"]::before,
[data-css-group="tooltip"]:hover > [data-css-role="tooltip"]::after,
[data-css-group="tooltip"]:hover > [data-css-role="tooltip"]::before,
[data-css-group="tooltip"]:focus > [role="tooltip"]::after,
[data-css-group="tooltip"]:focus > [role="tooltip"]::before,
[data-css-group="tooltip"]:focus > [data-css-role="tooltip"]::after,
[data-css-group="tooltip"]:focus > [data-css-role="tooltip"]::before {
  /* Visible Arrow and transparent hoverable area */
  display: block;
}

[data-css-group="tooltip"]:hover > [role="tooltip"][data-css-side="right"],
[data-css-group="tooltip"]:hover > [data-css-role="tooltip"][data-css-side="right"], [data-css-group="tooltip"]:focus > [role="tooltip"][data-css-side="right"],
[data-css-group="tooltip"]:focus > [data-css-role="tooltip"][data-css-side="right"],
[data-css-group="tooltip"]:hover > [role="tooltip"][data-css-side="right"],
[data-css-group="tooltip"]:hover > [data-css-role="tooltip"][data-css-side="right"],
[data-css-group="tooltip"]:focus > [role="tooltip"][data-css-side="right"],
[data-css-group="tooltip"]:focus > [data-css-role="tooltip"][data-css-side="right"] {
  bottom: initial;
  left: initial;
  right: -0.75em;
  top: 50%;
  transform: translateY(-50%) translateX(100%) translateZ(10em);
}

[data-css-group="tooltip"]:hover > [role="tooltip"][data-css-side="right"]::before,
[data-css-group="tooltip"]:hover > [data-css-role="tooltip"][data-css-side="right"]::before, [data-css-group="tooltip"]:focus > [role="tooltip"][data-css-side="right"]::before,
[data-css-group="tooltip"]:focus > [data-css-role="tooltip"][data-css-side="right"]::before,
[data-css-group="tooltip"]:hover > [role="tooltip"][data-css-side="right"]::before,
[data-css-group="tooltip"]:hover > [data-css-role="tooltip"][data-css-side="right"]::before,
[data-css-group="tooltip"]:focus > [role="tooltip"][data-css-side="right"]::before,
[data-css-group="tooltip"]:focus > [data-css-role="tooltip"][data-css-side="right"]::before {
  border-top: none;
  border-right: none;
  top: 50%;
  top: calc(50%  - 2px);
  left: -0.25em;
  left: calc(-0.25em + 2px);
  transform: rotate(45deg) translateX(-50%);
  z-index: -10;
}

[data-css-group="tooltip"]:hover > [role="tooltip"][data-css-side="right"]::after,
[data-css-group="tooltip"]:hover > [data-css-role="tooltip"][data-css-side="right"]::after, [data-css-group="tooltip"]:focus > [role="tooltip"][data-css-side="right"]::after,
[data-css-group="tooltip"]:focus > [data-css-role="tooltip"][data-css-side="right"]::after,
[data-css-group="tooltip"]:hover > [role="tooltip"][data-css-side="right"]::after,
[data-css-group="tooltip"]:hover > [data-css-role="tooltip"][data-css-side="right"]::after,
[data-css-group="tooltip"]:focus > [role="tooltip"][data-css-side="right"]::after,
[data-css-group="tooltip"]:focus > [data-css-role="tooltip"][data-css-side="right"]::after {
  bottom: 0;
  top: 0;
  left: -1em;
}

[data-css-group="tooltip"]:hover > [role="tooltip"][data-css-side="bottom"],
[data-css-group="tooltip"]:hover > [data-css-role="tooltip"][data-css-side="bottom"], [data-css-group="tooltip"]:focus > [role="tooltip"][data-css-side="bottom"],
[data-css-group="tooltip"]:focus > [data-css-role="tooltip"][data-css-side="bottom"],
[data-css-group="tooltip"]:hover > [role="tooltip"][data-css-side="bottom"],
[data-css-group="tooltip"]:hover > [data-css-role="tooltip"][data-css-side="bottom"],
[data-css-group="tooltip"]:focus > [role="tooltip"][data-css-side="bottom"],
[data-css-group="tooltip"]:focus > [data-css-role="tooltip"][data-css-side="bottom"] {
  bottom: -1em;
  top: 0;
  transform: translateY(100%) translateX(-50%) translateZ(10em);
}

[data-css-group="tooltip"]:hover > [role="tooltip"][data-css-side="bottom"]::before,
[data-css-group="tooltip"]:hover > [data-css-role="tooltip"][data-css-side="bottom"]::before, [data-css-group="tooltip"]:focus > [role="tooltip"][data-css-side="bottom"]::before,
[data-css-group="tooltip"]:focus > [data-css-role="tooltip"][data-css-side="bottom"]::before,
[data-css-group="tooltip"]:hover > [role="tooltip"][data-css-side="bottom"]::before,
[data-css-group="tooltip"]:hover > [data-css-role="tooltip"][data-css-side="bottom"]::before,
[data-css-group="tooltip"]:focus > [role="tooltip"][data-css-side="bottom"]::before,
[data-css-group="tooltip"]:focus > [data-css-role="tooltip"][data-css-side="bottom"]::before {
  border-bottom: none;
  border-right: none;
  top: -0.25em;
  top: calc(-0.25em + 2px);
  transform: rotate(45deg) translateX(-50%);
}

[data-css-group="tooltip"]:hover > [role="tooltip"][data-css-side="bottom"]::after,
[data-css-group="tooltip"]:hover > [data-css-role="tooltip"][data-css-side="bottom"]::after, [data-css-group="tooltip"]:focus > [role="tooltip"][data-css-side="bottom"]::after,
[data-css-group="tooltip"]:focus > [data-css-role="tooltip"][data-css-side="bottom"]::after,
[data-css-group="tooltip"]:hover > [role="tooltip"][data-css-side="bottom"]::after,
[data-css-group="tooltip"]:hover > [data-css-role="tooltip"][data-css-side="bottom"]::after,
[data-css-group="tooltip"]:focus > [role="tooltip"][data-css-side="bottom"]::after,
[data-css-group="tooltip"]:focus > [data-css-role="tooltip"][data-css-side="bottom"]::after {
  bottom: 0;
  top: -1em;
}

[data-css-group="tooltip"]:hover > [role="tooltip"][data-css-side="left"],
[data-css-group="tooltip"]:hover > [data-css-role="tooltip"][data-css-side="left"], [data-css-group="tooltip"]:focus > [role="tooltip"][data-css-side="left"],
[data-css-group="tooltip"]:focus > [data-css-role="tooltip"][data-css-side="left"],
[data-css-group="tooltip"]:hover > [role="tooltip"][data-css-side="left"],
[data-css-group="tooltip"]:hover > [data-css-role="tooltip"][data-css-side="left"],
[data-css-group="tooltip"]:focus > [role="tooltip"][data-css-side="left"],
[data-css-group="tooltip"]:focus > [data-css-role="tooltip"][data-css-side="left"] {
  bottom: initial;
  left: -0.75em;
  right: initial;
  top: 50%;
  transform: translateY(-50%) translateX(-100%);
}

[data-css-group="tooltip"]:hover > [role="tooltip"][data-css-side="left"]::before,
[data-css-group="tooltip"]:hover > [data-css-role="tooltip"][data-css-side="left"]::before, [data-css-group="tooltip"]:focus > [role="tooltip"][data-css-side="left"]::before,
[data-css-group="tooltip"]:focus > [data-css-role="tooltip"][data-css-side="left"]::before,
[data-css-group="tooltip"]:hover > [role="tooltip"][data-css-side="left"]::before,
[data-css-group="tooltip"]:hover > [data-css-role="tooltip"][data-css-side="left"]::before,
[data-css-group="tooltip"]:focus > [role="tooltip"][data-css-side="left"]::before,
[data-css-group="tooltip"]:focus > [data-css-role="tooltip"][data-css-side="left"]::before {
  border-bottom: none;
  border-left: none;
  top: 50%;
  right: -1em;
  right: calc(-1em + 1px);
  transform: rotate(45deg) translateX(-50%);
  left: initial;
}

[data-css-group="tooltip"]:hover > [role="tooltip"][data-css-side="left"]::after,
[data-css-group="tooltip"]:hover > [data-css-role="tooltip"][data-css-side="left"]::after, [data-css-group="tooltip"]:focus > [role="tooltip"][data-css-side="left"]::after,
[data-css-group="tooltip"]:focus > [data-css-role="tooltip"][data-css-side="left"]::after,
[data-css-group="tooltip"]:hover > [role="tooltip"][data-css-side="left"]::after,
[data-css-group="tooltip"]:hover > [data-css-role="tooltip"][data-css-side="left"]::after,
[data-css-group="tooltip"]:focus > [role="tooltip"][data-css-side="left"]::after,
[data-css-group="tooltip"]:focus > [data-css-role="tooltip"][data-css-side="left"]::after {
  bottom: 0;
  top: 0;
  right: -1em;
}
/*# sourceMappingURL=tooltip.css.map */