// Defines border color for a named group in a palette
@mixin pallete-border-group($palette, $group, $border)
{
    @if ($border == white or $border == black)
    {
        --css-#{$group}-border: var(--css-#{$border});
    }
    @else
    {
        --css-#{$group}-border: var(--css-#{$palette}-#{$border});
    }
}

// Defines background color for a named group in a palette
@mixin pallete-background-group($palette, $group, $background)
{
    @if ($background == white or $background == black)
    {
        --css-#{$group}-background: var(--css-#{$background});
    }
    @else
    {
        --css-#{$group}-background: var(--css-#{$palette}-#{$background});
    }
}

// Defines text color for a named group in a palette
@mixin pallete-text-group($palette, $group, $text)
{
    @if ($text == white or $text == black)
    {
        --css-#{$group}-text: var(--css-#{$text});
    }
    @else
    {
        --css-#{$group}-text: var(--css-#{$palette}-#{$text});
    }
}

// Defines a set of colors (background, border, text) for a named group in a palette
@mixin pallete-color-group($palette, $group, $background, $border, $text)
{
    // Background
    @include pallete-background-group($palette, $group, $background);
    
    // Border
    @include pallete-border-group($palette, $group, $border);

    // Text
    @include pallete-text-group($palette, $group, $text);
}

// Standart background color
@mixin component-background-color($state)
{
    background-color: var(--css-#{$state}-background);
}
// Standart border color
@mixin component-border-color($state)
{
    border-color: var(--css-#{$state}-border);
}
// Standart text color
@mixin component-text-color($state)
{
    color: var(--css-#{$state}-text);
}

// Standart background and border color
@mixin component-background-border-colors($state)
{
    @include component-background-color($state);
    @include component-border-color($state);
}

// Standart background and text color
@mixin component-background-text-colors($state)
{
    @include component-background-color($state);
    @include component-text-color($state);
}

// Standart border and text color
@mixin component-border-text-colors($state)
{
    @include component-border-color($state);
    @include component-text-color($state);
}

// Standart colors
@mixin component-colors($state)
{
    @include component-background-color($state);
    @include component-border-color($state);
    @include component-text-color($state);
}
