@import '_component';

[role="alert"],
[data-css-role="alert"]
{
    /* Basic component rules */

    border: 0.1em solid;
    border-radius:  0.333em;
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    margin: 1em 0;
    padding: 0.75em;
    text-align: center;

    @include css-get-cascade-colors($theme: light, $group: normal);

    // Types
    &[data-css-type="info"][data-css-icon]::before
    {
        border-width: 2px;
        font-size: 1.25em;
    }

    &[data-css-type="success"][data-css-icon]::before
    {
        /* Success alert icon */
        font-size: 1.5em;
        vertical-align: baseline;
        top: .1em;
    }

    &[data-css-type="warning"]
    {
        border-width: 0.25em;

        // Icon
        &[data-css-icon]::before
        {
            /* Warning alert icon */
            font-size: 2.5em;
            line-height: 0.5em;
            min-height: auto;
            vertical-align: sub;
        }
    }

    &[data-css-type="error"]
    {
        /* Error alert */
        border-width: 0.333em;
        font-size: 1.5em;
        text-transform:  UPPERCASE;

        // Icon
        &[data-css-icon]::before
        {
            /* Error alert icon */
            font-size: 3em;
            font-weight: 900;
            line-height: 0.25em;
            min-height: auto;
            vertical-align: middle;
        }
    }
}