@import '_component';

[role="alert"],
[data-css-role="alert"]
{
    /* Basic component rules */

    border: 0.1em solid;
    border-radius:  0.333em;
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    margin: 1em 0;
    padding: 0.75em;
    text-align: center;

    @include component-colors(normal);

    // Icon 
    &[data-css-type][data-css-icon]::before
    {
        line-height: 1em;
        display: inline-block;        
        width: 1em;
    }

    // Types
    &[data-css-type="info"][data-css-icon]::before
    {
        /* Information alert icon */
        content: '\2139';
        font-size: 1.25em;
        border: 2px solid;
        border-radius: 50%;
        position: relative;
    }

    &[data-css-type="success"][data-css-icon]::before
    {
        /* Success alert icon */
        content: '\2714';
        font-size: 1.5em;
        vertical-align: baseline;
        border: 1px solid;
        border-radius: 50%;
        top: .1em;
    }

    &[data-css-type="warning"]
    {
        border-width: 0.25em;

        // Icon
        &[data-css-icon]::before
        {
            /* Warning alert icon */
            content: '\26a0';
            font-size: 2.5em;
            line-height: 0.5em;
            vertical-align: sub;
        }
    }

    &[data-css-type="error"]
    {
        /* Error alert */
        border-width: 0.333em;
        font-size: 1.5em;
        text-transform:  UPPERCASE;

        // Icon
        &[data-css-icon]::before
        {
            /* Error alert icon */
            content: '\FF01';
            font-size: 3em;
            font-weight: 900;
            line-height: 0.25em;
            left: 0.5em;
            vertical-align: middle;
        }
    }
}