// Selectors base
[role="article"],
[data-css-role="article"],
article
{
    // 100% specific selectors
    // &[itemscope][itemtype="http://schema.org/Article"],
    // &[itemscope][itemtype="http://schema.org/NewsArticle"],
    // &[itemscope][itemtype="http://schema.org/Report"],
    // &[itemscope][itemtype="http://schema.org/ScholarlyArticle"],
    // &[itemscope][itemtype="http://schema.org/SocialMediaPosting"],
    // &[itemscope][itemtype="http://schema.org/BlogPosting"],
    // &[itemscope][itemtype="http://schema.org/LiveBlogPosting"],
    // &[itemscope][itemtype="http://schema.org/DiscussionForumPosting"],
    // &[itemscope][itemtype="http://schema.org/TechArticle"],
    // &[itemscope][itemtype="http://schema.org/APIReference"]
    // Shortened selectors:
    // &[itemtype^="http://schema.org/"][itemtype$="Article"],
    // &[itemtype^="http://schema.org/"]:not([itemtype*="Job"])[itemtype$="Posting"],
    // &[itemtype="http://schema.org/Report"],
    // &[itemtype="http://schema.org/APIReference"] 

    // Using shortened selectors
    &[itemtype^="http://schema.org/"][itemtype$="Article"],
    &[itemtype^="http://schema.org/"]:not([itemtype*="Job"])[itemtype$="Posting"],
    &[itemtype="http://schema.org/Report"],
    &[itemtype="http://schema.org/APIReference"] 
    {
        /* Article itself */
        display: block;
        font-size: 1rem;
        margin: 0 .5em;
        padding: 5em .5em .5em .5em;


        // Article table of contents
        > [itemtype="http://schema.org/SiteNavigationElement"]
        {
            /* Article table of contents */
            display: block;
            border-left: .5rem solid;
            margin-top: 3.75em;

            // Table heading
            [data-css-role="heading"]
            {
                font-size: .85rem;
                font-weight: normal;
                margin: 0.5em 0;
                padding-left: 1.25rem;
            }

            // Content lists
            ol,
            ul
            {
                counter-reset: article-index;
                list-style-position: inside;
                margin: 0;
                padding: 0;

                // Content items
                li
                {
                    display: block;
                    list-style-type: none;
                    margin: 0;
                    padding: 0;

                    // Item link
                    > a
                    {
                        display: block;
                        font-weight: normal;
                        font-size: 1.2rem;
                        margin: 1em 0 0 1em;
                        max-width: 100%;
                        padding: 0;
                        text-decoration: none;

                        &::before
                        {
                            content: counters(article-index, ".") ". ";
                            counter-increment: article-index;
                        }
                    }

                    // Subitem link
                    li > a {
                        padding: 0.5em 1em 0 1em;    
                    }
                }
            }
            // Unsorted list corrections
            ul
            {
                counter-reset: none;

                > li > a::before
                {
                    content: none;
                    counter-increment: none;
                }
            }
        }

        // Article Body
        [itemprop="articleBody"]
        {
            /* Article Body */
            counter-reset: article-chapters;

            // Article chapters
            [data-css-chapter]
            {
                padding-top: 5em;

                // Chapter heading
                [role="heading"]::before,
                [data-css-role="heading"]::before
                {
                    /* Chapter heading */
                    content: counters(article-chapters, ".") " ";
                    counter-increment: article-chapters;
                }

                // Article chapters bottom border
                &:not(:last-child)
                {
                    /* Article chapters bottom border */
                    border-bottom: 1px solid;
                    padding-bottom: 4em;

                    &[data-css-accent]
                    {
                        @extend %article-accent-chapter;
                    }

                    &[data-css-primary]
                    {
                        @extend %article-primary-chapter;
                    }
                }
            }

            // Chapter group
            [role="group"][data-css-group="chapters"]
            {
                /* Chapter group */
                counter-reset: article-chapters;    

                // Chapter in group
                >*
                {
                    // First chapter in group
                    &:first-child,
                    &:not(:last-child)
                    {
                        /* All chapters in group except the last */
                        border-bottom: none;
                        margin-bottom: 1em;   
                    }

                    &[data-css-accent]
                    {
                        @extend %article-accent-chapter-ingroup;            
                    }

                    &[data-css-primary]
                    {
                        @extend %article-primary-chapter;
                    }
                }
            }
        }


        // Accent color 
        &[data-css-accent]
        {
            @extend %article-accent-colors;
        }

        // Primary color
        &,
        &[data-css-primary]
        {
            @extend %article-primary-colors;
        }
    }
}



// Accent colors
%article-accent-chapter
{
    &:not(:last-child)
    {
        border-bottom-color: var(--css-accent-300);
    }
}
%article-accent-chapter-ingroup
{
    &:first-child,
    &:not(:last-child)
    {
        border-bottom-color: var(--css-accent-200)
    }
}
%article-accent-colors
{
    color: var(--css-accent-900);

    > [itemtype="http://schema.org/SiteNavigationElement"]
    {
        border-left-color: var(--css-accent-500);

        [data-css-role="heading"]
        {
            color: var(--css-accent-500);
        }
    }

    [itemprop="articleBody"]
    {
        [data-css-chapter]
        {
            &:not(:last-child)
            {
                border-bottom-color: var(--css-accent-300);
            }
        }

        [role="group"][data-css-group="chapters"] > [data-css-chapter]
        {
            @extend %article-accent-chapter-ingroup;
        }
    }
}



// Primary colors
%article-primary-chapter
{
    &:not(:last-child)
    {
        border-bottom-color: var(--css-primary-300);
    }
}
%article-primary-chapter-ingroup
{
    &:first-child,
    &:not(:last-child)
    {
        border-bottom-color: var(--css-primary-200)
    }
}
%article-primary-colors
{
    color: var(--css-primary-900);

    > [itemtype="http://schema.org/SiteNavigationElement"]
    {
        /* Default border */
        border-left-color: var(--css-primary-500);

        [data-css-role="heading"]
        {
            color: var(--css-primary-700);
        }
    }

    [itemprop="articleBody"]
    {
        [data-css-chapter]
        {
            @extend %article-primary-chapter;
        }

        [role="group"][data-css-group="chapters"] > [data-css-chapter]
        {
            @extend %article-primary-chapter-ingroup;
        }
    }
}