@import '_component';

// Selectors base
[role="article"],
[data-css-role="article"],
article
{
    // 100% specific selectors
    // &[itemscope][itemtype="http://schema.org/Article"],
    // &[itemscope][itemtype="http://schema.org/NewsArticle"],
    // &[itemscope][itemtype="http://schema.org/Report"],
    // &[itemscope][itemtype="http://schema.org/ScholarlyArticle"],
    // &[itemscope][itemtype="http://schema.org/SocialMediaPosting"],
    // &[itemscope][itemtype="http://schema.org/BlogPosting"],
    // &[itemscope][itemtype="http://schema.org/LiveBlogPosting"],
    // &[itemscope][itemtype="http://schema.org/DiscussionForumPosting"],
    // &[itemscope][itemtype="http://schema.org/TechArticle"],
    // &[itemscope][itemtype="http://schema.org/APIReference"]
    // Shortened selectors:
    // &[itemtype^="http://schema.org/"][itemtype$="Article"],
    // &[itemtype^="http://schema.org/"]:not([itemtype*="Job"])[itemtype$="Posting"],
    // &[itemtype="http://schema.org/Report"],
    // &[itemtype="http://schema.org/APIReference"] 

    // Using shortened selectors
    &[itemtype^="http://schema.org/"][itemtype$="Article"],
    &[itemtype^="http://schema.org/"]:not([itemtype*="Job"])[itemtype$="Posting"],
    &[itemtype="http://schema.org/Report"],
    &[itemtype="http://schema.org/APIReference"] 
    {
        /* Article itself */
        display: block;
        font-size: 1rem;
        margin: 0 .5em;
        padding: 5em .5em .5em .5em;

        
        @include component-text-color(normal);

        // Article table of contents
        > [itemtype="http://schema.org/SiteNavigationElement"]
        {
            /* Article table of contents */
            display: block;
            border-left: .5rem solid;
            margin-top: 3.75em;

            @include component-border-text-colors(normal);        

            // Table heading
            [data-css-role="heading"]
            {
                font-size: .85rem;
                font-weight: normal;
                margin: 0.5em 0;
                padding-left: 1.25rem;
            }

            // Content lists
            ol,
            ul
            {
                counter-reset: article-index;
                list-style-position: inside;
                margin: 0;
                padding: 0;

                // Content items
                li
                {
                    display: block;
                    list-style-type: none;
                    margin: 0;
                    padding: 0;

                    // Item link
                    > a
                    {
                        display: block;
                        font-weight: normal;
                        font-size: 1.2rem;
                        margin: 1em 0 0 1em;
                        max-width: 100%;
                        padding: 0;
                        text-decoration: none;

                        &::before
                        {
                            content: counters(article-index, ".") " ";
                            counter-increment: article-index;
                        }
                    }

                    // Subitem link
                    li > a {
                        padding: 0.5em 1em 0 1em;    
                    }
                }
            }
            // Unsorted list corrections
            ul
            {
                counter-reset: none;

                > li > a::before
                {
                    content: none;
                    counter-increment: none;
                }
            }
        }

        // Article Body
        [itemprop="articleBody"]
        {
            /* Article Body */
            counter-reset: article-chapters;

            // Article chapters
            [data-css-chapter]
            {
                padding-top: 5em;

                @include component-border-color(normal);

                // Chapter heading
                >[role="heading"]::before,
                >[data-css-role="heading"]::before,
                >header [role="heading"]::before,
                >header [data-css-role="heading"]::before
                {
                    /* Chapter heading */
                    content: counters(article-chapters, ".") " ";
                    counter-increment: article-chapters;
                }

                // Article chapters bottom border
                &:not(:last-child)
                {
                    /* Article chapters bottom border */
                    border-bottom: 1px solid;
                    padding-bottom: 4em;
                }
            }

            // Chapter group
            [role="group"][data-css-group="chapters"]
            {
                /* Chapter group */
                counter-reset: article-chapters;    

                // Chapter in group
                >[data-css-chapter]
                {
                    // First chapter in group
                    &:first-child,
                    &:not(:last-child)
                    {
                        /* All chapters in group except the last */
                        border-bottom: none;
                        margin-bottom: 1em;

                        @include component-border-color(normal);
                    }
                }
            }
        }
    
        // Custom accent colors
        &[data-css-accent]
        {
            @include pallete-color-group(accent, normal, 50, 50, 900);            
        }
        &[data-css-accent] > [itemtype="http://schema.org/SiteNavigationElement"]:not([data-css-primary]),
        > [itemtype="http://schema.org/SiteNavigationElement"][data-css-accent]
        {
            @include pallete-border-group(accent, normal, 500);
            @include pallete-text-group(accent, normal, 700);
        }
        &[data-css-accent] > [itemprop="articleBody"] [data-css-chapter]:not([data-css-primary]),
        > [itemprop="articleBody"] [data-css-chapter][data-css-accent]
        {
            @include pallete-border-group(accent, normal, 300);
        }
        &[data-css-accent] > [itemprop="articleBody"] [role="group"][data-css-group="chapters"] > [data-css-chapter]:not([data-css-primary]),
        > [itemprop="articleBody"] [role="group"][data-css-group="chapters"] > [data-css-chapter][data-css-accent]
        {
            @include pallete-border-group(accent, normal, 200);
        }
    
        // Custom primary colors
        &:not([data-css-accent]),
        &[data-css-primary]
        {
            @include pallete-color-group(primary, normal, 50, 50, 900);            
        }
        &:not([data-css-accent]) > [itemtype="http://schema.org/SiteNavigationElement"],
        &[data-css-primary] > [itemtype="http://schema.org/SiteNavigationElement"],
        > [itemtype="http://schema.org/SiteNavigationElement"][data-css-primary]
        {
            @include pallete-border-group(primary, normal, 500);
            @include pallete-text-group(primary, normal, 700);
        }
        &:not([data-css-accent]) > [itemprop="articleBody"] [data-css-chapter],
        &[data-css-primary] > [itemprop="articleBody"] [data-css-chapter],
        > [itemprop="articleBody"] [data-css-chapter][data-css-primary]
        {
            @include pallete-border-group(primary, normal, 300);
        }
        &:not([data-css-accent]) > [itemprop="articleBody"] [role="group"][data-css-group="chapters"] > [data-css-chapter],
        &[data-css-primary] > [itemprop="articleBody"] [role="group"][data-css-group="chapters"] > [data-css-chapter],
        > [itemprop="articleBody"] [role="group"][data-css-group="chapters"] > [data-css-chapter][data-css-primary]
        {
            @include pallete-border-group(primary, normal, 200);
        }
    }
}