@import '_component';

// Basic group rules
[role="group"][data-css-group="button"],
[data-css-role="group"][data-css-group="button"]
{
    border: 0.125em solid;
    border-radius: 0.5em;
    display: inline-flex;
    white-space: nowrap;

    @include component-border-color(normal);
}

// Basic component rules
button,
input[type="button"],
input[type="submit"],
input[type="reset"],
[role="button"],
[data-css-role="button"]
{
    /* Basic component rules */
    border: 1px solid;
    border-radius: 0.25em;
    box-sizing: border-box;
    display: inline-block;
    outline: none;
    text-transform: uppercase;
    text-align: center;
    text-decoration:  none;
    transition: 0.25s color, 0.25s background, 0.25s border-color;

    // Sizes
    &[data-css-size="small"]
    {
        /* Small button */
        border-radius: 0.5em;
        font-size: 1em;
        padding: 0.25em;
    }
    &:not([data-css-size]),
    &[data-css-size="medium"]
    {
        font-size: 1.5em;
        margin: 0.125em;
        padding: 0.5em;
    }
    &[data-css-size="big"]
    {
        /* Big button */
        border-radius: 0.25em;
        font-size: 2em;
        padding: 0.75em;
    }
    &[data-css-size="huge"]
    {
        /* Huge button */
        border-radius: 0.20em;
        font-size: 3em;
        padding: 1em;
    }
    &[data-css-size="full"]
    {
        /* Fullsize button */
        border-radius: 0.20em;
        display: block;
        font-size: 3em;
        margin-left:  0;
        margin-right: 0;
        padding: 1em;
        width: 100%;
    }


    // States
    &:not([data-css-state]),
    &[data-css-state="normal"]
    {
        /* Normal button */
        @include component-colors(normal);
    }
    &:hover,
    &:focus,
    &[aria-current]:not([aria-current="false"]),
    &[data-css-state="selected"]
    {
        /* Selected button */
        outline: none;

        @include component-colors(selected);
    }
    &:active,
    &[aria-pressed="true"],
    &[data-css-state="pressed"]
    {
        /* Pressed button */
        outline: none;
        
        @include component-colors(pressed);
    }
    &:disabled,
    &[aria-disabled],
    &[data-css-state="disabled"]
    {
        /* Disabled button */
        outline: none;

        @include component-colors(disabled);        
    }

    // Grouped
    [role="group"][data-css-group="button"] > &,
    [data-css-role="group"][data-css-group="button"] > &
    {
        border-bottom: none;
        border-radius: 0;
        border-top: none;
        margin: 0;

        &:first-child
        {
            border-left: none;
            border-bottom-left-radius:  0.25em;
            border-top-left-radius:  0.25em;
        }
        &:last-child
        {
            border-right: none;
            border-bottom-right-radius:  0.25em;
            border-top-right-radius:  0.25em;
        }
    }
}