@import '_component';

[itemscope][itemtype="http://schema.org/SoftwareSourceCode"]
{
    /* Component basic rules */
    border: 1px solid;
    border-radius: 0.5em;
    display: block;
    margin: 1em 0 0 0;

    @include css-get-cascade-colors($theme: light, $group: normal);


    // Programming Language
    [itemprop="programmingLanguage"]
    {
        color: var(--css-normal-text);
        font-weight: bold;
        transition: color 0.3s;
    }


    
    // Children
    >*,
    >[itemprop="text"]
    {
        /* All direct children must de block elements */
        color: inherit;
        display: block;
        padding: 0.5em;
    }


    // Content
    >[itemprop="text"]
    {
        box-sizing: border-box;
        counter-reset: code-lines;
        display: table;
        font-family: monospace;
        line-height: 1.25em;
        padding: 0 0.5em;

        // Line counter activation
        &[data-css-group="lines"][role=group]
        {
            [data-css-color],
            [data-css-color]
            {
                color: var(--css-normal-text);
            }

            // All lines            
            >*
            {
                // Line number
                &::before
                {
                    color: var(--css-normal-text);
                    content: counters(code-lines, ".", decimal-leading-zero);
                    counter-increment: code-lines;
                    display: table-cell;
                    height: 100%;
                    padding-right: 1em;
                }
                
                // First line number
                &:first-child::before
                {
                    padding-top:  0.5em;
                }
            }


            // Last line
            >:last-child
            {
                align-items: stretch;
                flex-wrap:  wrap;

                // Number padding
                &::before
                {
                    padding-bottom: 0.5em;
                }

                // Extra space for padding
                &::after
                {
                    content: ' ';
                    display: block;
                    line-height: 0.5em;
                    width: 100%;
                }
            }
        }

        // Lines
        > *
        {
            display: table-row;
            width: 100%;

            em,
            strong,
            var
            {
                font-size: 1.125em;    
            }
        }

        // Planned attibute based identation
        & [data-css-tabs]
        {
            text-indent: attr(data-css-tabs em, 0);
        }
    }




    // Color overrides
    @include css-set-cascade-colors(
        $theme: light,
        $group: normal,
        $colors: (
            'background': 900,
            'border': 700,
            'text': 100
        )
    );

    > [itemprop="text"][data-css-group="lines"][role=group] *[data-css-color],
    [itemprop="programmingLanguage"]
    {
        @include css-set-cascade-colors(
            $theme: light, $group: normal,
            $colors: (
                text: 100
            )
        );
    }

    > [itemprop="text"][data-css-group="lines"][role=group] >*
    {
        @include css-set-cascade-colors(
            $theme: 'light',
            $group: 'normal',
            $pseudo: '::before',
            $colors: (
                'text': 500
            )
        );
    }
}


// Specific rules for <details> and <summary> elements
details[itemscope][itemtype="http://schema.org/SoftwareSourceCode"]
{
    // Summary element
    > summary:first-child
    {
        background-color: var(--css-normal-background);
        border-radius: 0.5em;
        transition: background 0.3s;        
    }

    // Hover/selected state summary
    > summary:first-child:hover,
    &[open] > summary:first-child
    {
        background-color: var(--css-selected-background);
        color: var(--css-selected-text);
    }
    
    &[open] > summary:first-child
    {
        border-bottom: 1px solid var(--css-selected-border);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    // Removing summary outline
    > summary:first-child:active,
    > summary:first-child:focus,
    &[open] > summary:first-child
    {
        outline: none;
    }



    // Color overrides
    > summary:first-child
    {
        @include css-set-cascade-colors(
            $theme: 'light',
            $group: 'normal',
            $colors: (
                'background': 900
            )
        );
        
        @include css-set-cascade-colors(
            $theme: 'light',
            $group: 'selected',
            $colors: (
                'border': 700,
                'background': 700,
                'text': 50
            )
        );
    }
}