@import '_component';

[itemscope][itemtype="http://schema.org/SoftwareSourceCode"]
{
    /* Component basic rules */
    border: 1px solid;
    border-radius: 0.5em;
    display: block;
    margin: 1em 0 0 0;

    @include component-colors(normal);


    // Programming Language
    [itemprop="programmingLanguage"]
    {
        font-weight: bold;
        transition: color 0.3s;

        @include component-text-color(normal);        
    }


    // Children
    >*,
    >[itemprop="text"]
    {
        /* All direct children must de block elements */        
        display: block;
        padding: 0.5em;
    }


    // Content
    >[itemprop="text"]
    {
        box-sizing: border-box;
        counter-reset: code-lines;
        display: table;
        font-family: monospace;
        line-height: 1.25em;
        padding: 0 0.5em;

        // Line counter activation
        &[data-css-group="lines"][role=group]
        {
            [data-css-primary],
            [data-css-accent]
            {
                @include component-text-color(normal);        
            }

            // All lines            
            >*
            {
                &,
                &::before
                {
                    @include component-text-color(normal);
                }

                // Line number
                &::before
                {
                    content: counters(code-lines, ".", decimal-leading-zero);
                    counter-increment: code-lines;
                    display: table-cell;
                    height: 100%;
                    padding-right: 1em;
                }
                
                // First line number
                &:first-child::before
                {
                    padding-top:  0.5em;
                }
            }


            // Last line
            >:last-child
            {
                align-items: stretch;
                flex-wrap:  wrap;

                // Number padding
                &::before
                {
                    padding-bottom: 0.5em;
                }

                // Extra space for padding
                &::after
                {
                    content: ' ';
                    display: block;
                    line-height: 0.5em;
                    width: 100%;
                }
            }
        }

        // Lines
        > *
        {
            display: table-row;
            width: 100%;

            em,
            strong,
            var
            {
                font-size: 1.125em;    
            }
        }

        // Planned attibute based identation
        & [data-css-tabs]
        {
            text-indent: attr(data-css-tabs em, 0);
        }
    }

    // Custom primary colors
    &:not([data-css-accent]),
    &[data-css-primary],
    & :not([data-css-accent]),
    & [data-css-primary]
    {
        @include pallete-color-group(primary, normal, 900, 700, 100);

        > [itemprop="text"][data-css-group="lines"][role=group] >*::before
        {
            @include pallete-text-group(primary, normal, 500);
        }
    }
    > [itemprop="text"][data-css-group="lines"][role=group] [data-css-primary],
    [itemprop="programmingLanguage"][data-css-primary]
    {
        @include pallete-text-group(primary, normal, 100);
    }

    // Custom accent colors
    &[data-css-accent],
    [data-css-accent] &,
    &[data-css-accent] :not([data-css-primary]),
    [data-css-accent] & :not([data-css-primary])
    {
        @include pallete-color-group(accent, normal, 900, 700, 100);

        > [itemprop="text"][data-css-group="lines"][role=group] >*::before
        {
            @include pallete-text-group(accent, normal, 500);
        }
    }
    > [itemprop="text"][data-css-group="lines"][role=group] [data-css-accent],
    [itemprop="programmingLanguage"][data-css-accent]
    {
        @include pallete-text-group(accent, normal, 100);
    }
}


// Specific rules for <details> and <summary> elements
details[itemscope][itemtype="http://schema.org/SoftwareSourceCode"]
{
    // Summary element
    > summary:first-child
    {
        border-radius: 0.5em;
        transition: background 0.3s;

        @include component-background-color(normal);
    }

    // Hover/selected state summary
    > summary:first-child:hover,
    &[open] > summary:first-child
    {   
        @include component-background-color(selected);
        @include component-text-color(selected);
    }
    
    &[open] > summary:first-child
    {
        border-bottom: 1px solid;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        @include component-border-color(selected);
    }

    // Removing summary outline
    > summary:first-child:active,
    > summary:first-child:focus,
    &[open] > summary:first-child
    {
        outline: none;
    }

    // Custom primary colors
    &:not([data-css-accent]),
    &[data-css-primary],
    [data-css-primary] &:not([data-css-accent])
    {
        > summary:first-child
        {
            @include pallete-background-group(primary, normal, 900);
            @include pallete-background-group(primary, selected, 700);            
            @include pallete-text-group(primary, selected, 50);
            @include pallete-border-group(primary, selected, 700);
        }
    }

    // Custom accent colors
    &[data-css-accent],
    [data-css-accent] &:not([data-css-primary])
    {
        > summary:first-child
        {
            @include pallete-background-group(accent, normal, 900);
            @include pallete-background-group(accent, selected, 700);            
            @include pallete-text-group(accent, selected, 50);
            @include pallete-border-group(accent, selected, 700);
        }
    }
}