@import '_component';

// Dialogs must have and ID, it's basic for their functionality
[role="alertdialog"][id],
[role="dialog"][id]
{
    border: 1px solid;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    position: fixed;
    left: 50%;
    min-height: 9em;
    min-width: 16em;
    overflow: visible;
    opacity: 0;
    transform: translate(-50%, -50%);
    top: 100vh;
    transition: opacity 0.3s, top 0.3s, visibility 0.1s 0.3s;
    visibility: hidden;

    @include component-colors(normal);

    // Background
    &::before
    {
        bottom: -50vh;
        content: ' ';
        display: none;
        left: -50vw;
        opacity: 0.5;
        position: fixed;
        right: -50vw;
        top: -50vh;

        @include component-background-color(normal);        
    }


    // Children
    > *
    {
        background: var(--css-primary-50);
        box-sizing: border-box;
        flex-grow: 1;
        flex-shrink: 1;
        padding: 0.5em;
        position: relative;
        z-index: 10;
    }


    // Heading
    > [role="heading"],
    > [data-css-role="heading"]
    {
        border-bottom: 1px solid;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
        flex-grow: 0;
        font-size: 1em;
        line-height: 1em;
        margin: 0;

        @include component-colors(selected);

        // Close button
        [data-css-close]
        {
            float: right;
            text-decoration: none;
            transition: color 0.3s;
        }

        // Letting subsequent elements have scroll
        & + *
        {
            overflow: auto;
        }
    }


    // Active
    &:target
    {
        opacity: 1;
        top: 50%;
        transition: opacity 0.3s, top 0.3s;
        visibility: visible;
        z-index: 10;
    }


    // Sizes
    &[data-css-size="small"]
    {
        height: 9em;
        max-height: calc(33% - 2em);
        max-width: calc(33% - 2em);
        width: 16em;
    }
    &:not([data-css-size]),
    &[data-css-size="medium"]
    {
        height: 18em;
        max-height: calc(50% - 2em);
        max-width: calc(50% - 2em);
        width: 43em;
    }
    &[data-css-size="big"]
    {
        height: 27em;
        max-height: calc(75% - 2em);
        max-width: calc(75% - 2em);
        width: 48em;
    }
    &[data-css-size="huge"]
    {
        height: 36em;
        max-height: calc(100% - 2em);
        max-width: calc(100% - 2em);
        width: 64em;
    }
    &[data-css-size="full"]
    {
        height: calc(100% - 2em);
        max-height: calc(100% - 2em);
        max-width: calc(100% - 2em);
        width: calc(100% - 2em);
    }

    // Custom primary colors
    &:not([data-css-accent]),
    &[data-css-primary],
    [data-css-primary] &
    {
        &::before
        {
            @include pallete-background-group(primary, normal, 900);
        }
    }
    
    // Custom accent color
    &[data-css-accent],
    [data-css-accent] &
    {
        &::before
        {
            @include pallete-background-group(accent, normal, 900);
        }
    }
}

[role="alertdialog"][id],
[role="dialog"][data-css-modal]
{
    &:target::before
    {
        display: flex;
    }
}