@import '_component';

[role="link"],
a:not([role])
{
    /* Basic Component rules */
    cursor: pointer;
    display: inline;
    font-size: 1.125em;
    font-weight: bold;
    text-decoration: underline;
    transition: color 0.3s;

    &,
    &[data-css-state="normal"]
    {
        @include component-text-color(normal);
    }

    &:visited,
    &[data-css-state="visited"]
    {
        @include component-text-color(visited);
    }

    &:focus,
    &:hover,
    &[data-css-state="selected"]
    {
        @include component-text-color(selected);
    }

    &:active,
    &[data-css-state="pressed"]
    {
        @include component-text-color(pressed);
    }


    
    // Custom primary color
    &:not([data-css-accent]),
    &[data-css-primary],
    [data-css-primary] &
    {
        @include pallete-text-group(primary, normal, 700);
        @include pallete-text-group(primary, visited, 900);
        @include pallete-text-group(primary, selected, 500);
        @include pallete-text-group(primary, pressed, 600);
    }
    
    // Custom accent color
    &[data-css-accent],
    [data-css-accent] &
    {
        @include pallete-text-group(accent, normal, 700);
        @include pallete-text-group(accent, visited, 900);
        @include pallete-text-group(accent, selected, 500);
        @include pallete-text-group(accent, pressed, 600);
    }
}