@import '_component';

[role="link"],
a:not([role]):not([data-css-role])
{
    /* Basic Component rules */
    cursor: pointer;
    display: inline;
    font-size: 1.125em;
    font-weight: bold;
    text-decoration: underline;
    transition: color 0.3s;

    &:link,
    &[data-css-state="normal"]
    {
        color: var(--css-normal-text);
    }

    &:visited,
    &[data-css-state="visited"]
    {
        color: var(--css-visited-text);
    }

    &:focus,
    &:hover,
    &[data-css-state="selected"]
    {
        color: var(--css-selected-text);
    }

    &:active,
    &[data-css-state="pressed"]
    {
        color: var(--css-pressed-text);
    }


    
    // Color overrides
    @include css-set-cascade-colors(
        $theme: 'light',
        $group: 'normal',
        $colors: (
            'text': 700
        )
    );
    @include css-set-cascade-colors(
        $theme: 'light',
        $group: 'visited',
        $colors: (
            'text': 900
        )
    );
    @include css-set-cascade-colors(
        $theme: 'light',
        $group: 'selected',
        $colors: (
            'text': 500
        )
    );
    @include css-set-cascade-colors(
        $theme: 'light',
        $group: 'pressed',
        $colors: (
            'text': 600
        )
    );
}