:root{
    /* Deep Purple palette */
    --css-primary-50: #EDE7F6;
    --css-primary-100: #D1C4E9;
    --css-primary-200: #B39DDB;
    --css-primary-300: #9575CD;
    --css-primary-400: #7E57C2;
    --css-primary-500: #673AB7;
    --css-primary-600: #5E35B1;
    --css-primary-700: #512DA8;
    --css-primary-800: #4527A0;
    --css-primary-900: #311B92;
    --css-primary-A100: #B388FF;
    --css-primary-A200: #7C4DFF;
    --css-primary-A400: #651FFF;
    --css-primary-A700: #6200EA;
}