:root{
    /* Grey palette */
    --css-accent-50: #FAFAFA;
    --css-accent-100: #F5F5F5;
    --css-accent-200: #EEEEEE;
    --css-accent-300: #E0E0E0;
    --css-accent-400: #BDBDBD;
    --css-accent-500: #9E9E9E;
    --css-accent-600: #757575;
    --css-accent-700: #616161;
    --css-accent-800: #424242;
    --css-accent-900: #212121;
}