:root{
    /* Purple palette */
    --css-accent-50: #F3E5F5;
    --css-accent-100: #E1BEE7;
    --css-accent-200: #CE93D8;
    --css-accent-300: #BA68C8;
    --css-accent-400: #AB47BC;
    --css-accent-500: #9C27B0;
    --css-accent-600: #8E24AA;
    --css-accent-700: #7B1FA2;
    --css-accent-800: #6A1B9A;
    --css-accent-900: #4A148C;
    --css-accent-A100: #EA80FC;
    --css-accent-A200: #E040FB;
    --css-accent-A400: #D500F9;
    --css-accent-A700: #AA00FF;
}