:root{
    /* Red palette */
    --css-accent-50: #FFEBEE;
    --css-accent-100: #FFCDD2;
    --css-accent-200: #EF9A9A;
    --css-accent-300: #E57373;
    --css-accent-400: #EF5350;
    --css-accent-500: #F44336;
    --css-accent-600: #E53935;
    --css-accent-700: #D32F2F;
    --css-accent-800: #C62828;
    --css-accent-900: #B71C1C;
    --css-accent-A100: #FF8A80;
    --css-accent-A200: #FF5252;
    --css-accent-A400: #FF1744;
    --css-accent-A700: #D50000;
}